/** 
 *	General Styles
 **/

html {
	background-color: rgba(26, 26, 26, 1);
	color: #FFFFFF;
	font-weight: normal;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
}
.hText {
	font-family: 'Montserrat', sans-serif;
}
.cText {
	font-family: 'PT Sans', sans-serif;
}
.button {
	cursor: pointer;
	background-color: rgba(230, 60, 46, 1);
}
.button:hover {
	background-color: #FFFFFF;
	color: rgba(230, 60, 46, 1);
}
.buttonContainer {
	height: auto;
}
.superscript {
	vertical-align: super;
}
.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9 {
	width: 940px;
	height: auto;
	margin: 0 auto;
}
a:link, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: rgba(230, 60, 46, 1);
	text-decoration: none;
}
.darkgrey {
	color: rgba(51, 51, 51, 1);
}
.lightgrey {
	color: rgba(102, 102, 102, 1);
}
.red {
	color: rgba(230, 60, 46, 1);
}
.mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(51, 51, 51, .6);
}
.email {
	background: url('../img/icons.png') 0px -14px;
}
.facebook {
	background: url('../img/icons.png') -50px -14px;
}
.twitter {
	background: url('../img/icons.png') -100px -14px;
}
.email:hover {
	background: url('../img/icons.png') 0px -55px;
}
.facebook:hover {
	background: url('../img/icons.png') -50px -55px;
}
.twitter:hover {
	background: url('../img/icons.png') -100px -55px;
}


/**
 *	Splash Page Styles
 **/

.splash {
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 60px 0 0 0;

}
/* Row 1 */
.splash .r1 {
	width: 612px;
	font-size: 102px;
	line-height: 112px;
}
/* Row 2 */
.splash .r2 {
	width: 612px;
	height: 125px;
	font-size: 102px;
}
.splash .r2 .flip {
	position: relative;
	height: 125px;
	margin: 0 0 0 0;
	text-align: center;
	display: inline-block;
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
}
.fade {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 125px;
	font-size: 102px;
	opacity: .1;
}
#enterIs, #enterIs .enterButton .face.back .fade {
	width: 150px;
}
#enterNot, #enterNot .enterButton .face.back .fade {
 	width: 420px;
}
#enterIs .enterButton .back {
	padding: 20px 0 0 0;
	height: 105px;
}
#enterNot .enterButton .back {
	padding: 48px 0 0 0;
	height: 77px;
}
.splash .r2 .flip .enterButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: inherit;
	height: inherit;
	background-color: rgba(230, 60, 46, 1);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-webkit-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-moz-backface-visibility: hidden;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-ms-backface-visibility: hidden;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	-o-backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: 0.5s;
	backface-visibility: hidden;
}
.splash .r2 .flip:hover .enterButton, .splash .r2 .flip.hover .enterButton {
	-webkit-transform: rotatey(-180deg);
	-moz-transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg);
	-o-transform: rotatey(-180deg);
	transform: rotatey(-180deg);
}
.splash .r2 .flip .enterButton .face.front {
	position: absolute;
	width: inherit;
	color: #FFFFFF;
	background-color: rgba(230, 60, 46, 1);
	cursor: pointer;
	z-index: 100;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.splash .r2 .flip .enterButton .face.back {
	position: absolute;
	width: inherit;
	color: rgba(230, 60, 46, 1);
	background-color: #FFFFFF;
	cursor: pointer;
	z-index: 1;
	font-size: 24px;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotatey(180deg);
	-moz-backface-visibility: hidden;
	-moz-transform: rotatey(180deg);
	-ms-backface-visibility: hidden;
	-ms-transform: rotatey(180deg);
	-o-backface-visibility: hidden;
	-o-transform: rotatey(180deg);
	backface-visibility: hidden;
	transform: rotatey(180deg);
}
/* Row 3 */
.splash .r3 {
	width: 612px;
	font-size: 102px;
	letter-spacing: 10px;
	line-height: 112px
}
/* Row 4 */
.splash .r4 {
	width: 612px;
	height: 64px;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .5px;
}
/* Row 5 */
.splash .r5 {
	width: 612px;
}
.splash .r5 .box {
	height: 42px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 0 8px 0;
}
/* Row 6 */
.splash .r6 {
	width: 612px;
	text-align: left;
	font-size: 11px;
	padding: 3px 0 0 0;
	font-weight: normal;
}

/**
 *	Head Styles
 **/

 .head {
 	position: relative;
 	height: 109px;
 	border-bottom: 1px solid rgba(230, 60, 46, 1);
 }
 .head .headLeft {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 400px;
 	height: 110px;
 	padding: 0 0 10px 0;
 	display: inline-block;
 }
 .head .headLeft .homeLogo {
 	position: relative;
 	width: 140px;
 	margin: 6px 0 0 0;
 	padding: 0 12px 0 0;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 	display: inline-block;
 }
 .head .headLeft .statement {
 	position: relative;
 	top: -8px;
 	width: 237px;
 	padding: 16px 0 0 6px;
 	font-size: 12px;
 	line-height: 20px;
 	letter-spacing: 2px;
 	color: rgba(102, 102, 102, 1);
 	display: inline-block;
 }
 .head .headRight {
 	position: absolute;
 	top: 0px;
 	left: 400px;
 	width: 540px;
 	height: 110px;
 	padding: 0 0 10px 0;
 	display: inline-block;
 }
 .head .headRight .share {
 	position: relative;
 	width: 148px;
 	height: 72px;
 	padding: 8px 0 0 408px;
 	display: inline-block;
 }
 .head .headRight .share .icon {
 	width: 40px;
 	height: 32px;
 	padding: 0 5px 0 0;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 	display: inline-block;
 	cursor: pointer;
 }
 .head .headRight .share .icon:last-child {
 	border: none;
 }
 .head .headRight .nav {
 	width: inherit;
 	height: 20px;
 	padding: 0 0 8px 0;
 	display: inline-block;
 }
 .head .headRight .nav a {
 	margin: 0 0 0 54px;
 }

/**
 *	Home Page Styles
 **/

 .home .r1 {
 	position: relative;
 	height: 510px;
 	margin: 30px 0 30px 0;
 }
 .home .r1 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 620px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .home .r1 .col1 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 580px;
 	height: 18px;
 	margin: 20px 20px 12px 20px;
 }
 .home .r1 .col1 .info {
 	position: absolute;
 	top: 50px;
 	left: 0px;
 	height: 80px;
 	width: 588px;
 	margin: 0 12px 0 20px;
 	font-size: 14px;
 }
 .home .r1 .col1 .content {
 	position: absolute;
 	top: 130px;
 	left: 0px;
 	width: 580px;
 	height: 370px;
 	margin: 20px 0 0 0;
 }
 .home .r1 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 640px;
 	width: 300px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .home .r1 .col2 .content {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 300px;
 	height: 200px;
 }
 .home .r1 .col2 .header {
 	position: absolute;
 	top: 200px;
 	left: 0px;
 	width: 260px;
 	height: 80px;
 	margin: 20px 20px 10px 20px;
 }
 .home .r1 .col2 .header .quotes {
 	position: absolute;
 	top: 40px;
 	left: 0px;
 	width: 40px;
 	height: 30px;
 	padding: 10px 0 0 0;
 	font-size: 120px;
 	line-height: 120px;
 }
 .home .r1 .col2 .header .contributor {
 	position: absolute;
 	top: 40px;
 	left: 40px;
 	width: 220px;
 	height: 12px;
 	padding: 28px 0 0 0;
 	font-size: 12px;
 	text-align: right;
 }
 .home .r1 .col2 .info {
 	position: absolute;
 	top: 310px;
 	left: 0px;
 	width: 260px;
 	height: 130px;
 	margin: 0px 20px 20px 20px;
 	font-size: 13px;
 }
 .home .r1 .col2 .info .readmore {
 	position: absolute;
 	top: 110px;
 	left: 0px;
 	width: 260px;
 	height: 14px;
 	padding: 6px 0 0 0;
 }
 .home .r1 .col2 .button {
 	position: absolute;
 	top: 460px;
 	width: 300px;
 	height: 50px;
 }
 .home .r1 .col2 .button .share {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 130px;
 	height: 44px;
 	padding: 6px 0 0 10px;
 	font-size: 32px;
 	text-align: center;
 }
 .home .r1 .col2 .button .why {
 	position: absolute;
 	top: 0px;
 	left: 140px;
 	width: 160px;
 	height: 38px;
 	padding: 12px 0 0 0;
 	font-size: 14px;
 	text-align: left;
 	line-height: 14px;
 }
 .home .r2 {
 	position: relative;
 	height: 170px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .home .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .home .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .home .r2 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .home .r2 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 180px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .home .r3 {
  	position: relative;
 	height: 60px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .home .r3 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r3 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r4 {
 	position: relative;
 	height: 140px;
 }
 .home .r4 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .home .r4 .col1 .left, .home .r4 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .home .r4 .col1 .right, .home .r4 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .home .r4 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
 .home .r5 {
  	position: relative;
 	height: 30px;
 }
 .home .r5 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r5 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r6 {
 	position: relative;
 	height: 140px;
 }
 .home .r6 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .home .r6 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
  .home .r6 .col1 .left, .home .r6 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .home .r6 .col1 .right, .home .r6 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .home .r7 {
 	position: relative;
 	height: 90px;
 	margin-top: 20px;
 }
 .home .r7 .col1 {
 	position: relative;
 	height: 42px;
 	width: 560px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 auto;
	text-align: center;
 }
 .home .r8 {
 	position: relative;
 	height: 110px;
 	margin-bottom: 80px;
 }
 .home .r8 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 }
 .home .r8 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 }
 .home .r8 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .home .r8 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 200px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
  .home .r2 .col1 .img, .home .r2 .col2 .img, .home .r8 .col1 .img, .home .r8 .col2 .img {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 }

/**
 *	Why Share? Page Styles
 **/

 .whyshare .r1 {
 	position: relative;
 	height: 470px;
 	margin: 30px 0 30px 0;
 }
 .whyshare .r1 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 620px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .whyshare .r1 .col1 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 580px;
 	height: 18px;
 	margin: 20px 20px 12px 20px;
 }
 .whyshare .r1 .col1 .info {
 	position: absolute;
 	top: 50px;
 	left: 0px;
 	height: 79px;
 	width: 580px;
 	margin: 0 20px 0 20px;
 	font-size: 14px;
 	border-bottom: 1px solid rgba(230, 60, 46, 1);
 }
 .whyshare .r1 .col1 .content {
 	position: absolute;
 	top: 130px;
 	left: 0px;
 	width: 580px;
 	height: 310px;
 	margin: 20px 20px 10px 20px;
 }
 .whyshare .r1 .col1 .content .leader {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 580px;
 	height: 20px;
 	margin: 0px 0px 20px 0px;
 }
  .whyshare .r1 .col1 .content .stat {
  	position: absolute;
  	top: 40px;
 	width: 193px;
 	height: 250px;
 	margin: 0 0 20px 0;
 }
  .whyshare .r1 .col1 .content .stat .img {
  	height: 134px;
 	text-align: center;
 }
 .whyshare .r1 .col1 .content .stat:nth-child(2) {
 	position: absolute;
 	left: 0px;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 }
 .whyshare .r1 .col1 .content .stat:nth-child(3) {
 	position: absolute;
 	left: 194px;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 }
 .whyshare .r1 .col1 .content .stat:nth-child(4) {
 	position: absolute;
 	left: 387px;
 }
 .whyshare .r1 .col1 .content .stat .text {
 	position: absolute;
 	top: 134px;
 	left: 0px;
 	width: 173px;
 	height: 116px;
 	margin: 0 0 0 20px;
 }
 .whyshare .r1 .col1 .content .stat .text .lead {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	height: 40px;
 	width: 173px;
 }
 .whyshare .r1 .col1 .content .stat .text .body {
 	position: absolute;
 	top: 40px;
 	left: 0px;
 	height: 76px;
 	width: 173px;
 	font-size: 14px;
 }
 .whyshare .r1 .col1 .content .stat:nth-child(2) .text .lead {
 	font-size: 48px;
 	line-height: 40px;
 }
 .whyshare .r1 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 640px;
 	width: 300px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .whyshare .r1 .col2 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 260px;
 	height: 70px;
 	margin: 20px 20px 0 20px;
 }
 .whyshare .r1 .col2 .content {
 	position: absolute;
 	top: 90px;
 	left: 0px;
 	width: 260px;
 	height: 150px;
 	margin: 0 20px 0 20px;
 }
 .whyshare .r1 .col2 .info {
 	position: absolute;
 	top: 240px;
 	left: 0px;
 	width: 260px;
 	height: 110px;
 	margin: 30px 20px 30px 20px;
 	font-size: 13px;
 }	
 .whyshare .r1 .col2 .button {
 	position: absolute;
 	top: 410px;
 	width: 300px;
 	height: 42px;
 	padding: 18px 0 0 0;
 	font-size: 20px;
 	text-align: center;
 }

 .whyshare .r2 {
 	position: relative;
 	height: 170px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .whyshare .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .whyshare .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .whyshare .r2 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .whyshare .r2 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 180px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .whyshare .r3 {
  	position: relative;
 	height: 60px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .whyshare .r3 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyshare .r3 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyshare .r4 {
 	position: relative;
 	height: 140px;
 }
 .whyshare .r4 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .whyshare .r4 .col1 .left, .whyshare .r4 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .whyshare .r4 .col1 .right, .whyshare .r4 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .whyshare .r4 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
 .whyshare .r5 {
  	position: relative;
 	height: 30px;
 }
 .whyshare .r5 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyshare .r5 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyshare .r6 {
 	position: relative;
 	height: 140px;
 }
 .whyshare .r6 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .whyshare .r6 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
  .whyshare .r6 .col1 .left, .whyshare .r6 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .whyshare .r6 .col1 .right, .whyshare .r6 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .whyshare .r7 {
 	position: relative;
 	height: 90px;
 	margin-top: 20px;
 }
 .whyshare .r7 .col1 {
 	position: relative;
 	height: 42px;
 	width: 560px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 auto;
	text-align: center;
 }
 .whyshare .r8 {
 	position: relative;
 	height: 110px;
 	margin-bottom: 80px;
 }
 .whyshare .r8 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 }
 .whyshare .r8 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 }
 .whyshare .r8 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .whyshare .r8 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 200px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .whyshare .r2 .col1 .img, .whyshare .r2 .col2 .img, .whyshare .r8 .col1 .img, .whyshare .r8 .col2 .img {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 }

 /**
  *	About Page Styles
  **/

.about .r1 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 250px;
	margin: 30px 0 0 0;
}
.about .r1 .img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 250px;
}
.about .r1 .title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 210px;
	margin: 20px 20px 20px 20px;
	font-size: 48px;
	letter-spacing: 4px;
}
.about .r1 .title .smaller {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 36px;
}
.about .r1 .img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.about .r2 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 220px;
	padding: 20px 20px 20px 20px;
	background-color: rgba(51, 51, 51, 1);
}
.about .r3 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 110px;
	padding: 0 20px 20px 20px;
	background-color: rgba(51, 51, 51, 1);
}
.about .r3 .img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 110px;
}
.about .r3 .button {
	position: absolute;
	top: 30px;
	left: 270px;
	width: 400px;
	height: 40px;
	padding: 10px 0 0 0;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
}

 /**
  *	Give Page Styles
  **/

.give .r1 {
	position: relative;
	width: 940px;
	height: 480px;
	margin: 30px auto 0 auto;
	background-color: #000000;
}
.give .r1 .col1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 480px;
}
.give .r1 .col1 .top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 200px;
}
.give .r1 .col1 .top .header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 440px;
	height: 30px;
	margin: 30px 0 20px 20px;
	font-size: 28px
}
.give .r1 .col1 .top .content {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 440px;
	height: 100px;
	margin: 0 0 20px 20px;
	font-size: 12px;
}
.give .r1 .col1 .bottom {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 460px;
	height: 280px;
}
.give .r1 .col1 .bottom .content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 280px;
}
.give .r1 .col1 .bottom .info {
	position: absolute;
	top: 190px;
	left: 0px;
	width: 460px;
	height: 90px;
	background-color: rgba(51, 51, 51, .75);
}
.give .r1 .col1 .bottom .info .price {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 64px;
	margin: 13px 0 13px 20px;
	border-right: 1px solid #FFFFFF;
	font-size: 56px;
	font-weight: bold;
	line-height: 44px;
}
.give .r1 .col1 .bottom .info .price .superscript {
	font-size: 28px;
}
.give .r1 .col1 .bottom .info .donate {
	position: absolute;
	left: 180px;
	top: 0px;
	width: 270px;
	height: 64px;
	margin: 13px 0 13px 10px;
}
.give .r1 .col1 .bottom .info .donate {
	font-size: 14px;
}
.give .r1 .col1 .bottom .info .donate .cText {
	font-size: 12px;
}
.give .r1 .col2 {
	position: absolute;
	top: 0px;
	left: 480px;
	width: 460px;
	height: 480px;
}
.give .r1 .col2 .top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 230px;
}
.give .r1 .col2 .top .button {
  	position: relative;
 	top: 0px;
 	width: 220px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 110px auto;
}
.give .r1 .col2 .bottom {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 460px;
	height: 230px;
}
.give .r1 .col2 .bottom .button {
	position: relative;
 	top: 0px;
 	width: 280px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 90px auto;
}
.give .r1 .col2 .top .img, .give .r1 .col2 .bottom .img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.give .r2 {
	position: relative;
	width: 940px;
	margin: 30px auto 0 auto;
	border-top: 1px solid rgba(230, 60, 46, 1);
}

 /**
  *	Resources Page Styles
  **/

 .resources .r1 {
 	position: relative;
 	height: 48px;
 	padding: 22px 0 0 0;
 	font-size: 20px
 }
 .resources .r2 {
 	position: relative;
 	height: 410px;
 }
 .resources .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col1 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col1 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col1 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 90px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col1 .content .left.p1 {
 	height: 70px;
 	padding: 30px 0 0 10px;
 }
 .resources .r2 .col1 .content .left.p2 {
  	height: 80px;
 	padding: 20px 0 0 10px;	
 }
 .resources .r2 .col1 .content .left.p3 {
 	height: 60px;
 	padding: 40px 0 0 10px;
 }
 .resources .r2 .col1 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 100px;
 	width: 180px;
 	height: 100px;
 }
 .resources .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 320px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col2 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col2 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col2 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 90px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col2 .content .left.p1 {
 	height: 64px;
 	padding: 36px 0 0 10px;
 }
 .resources .r2 .col2 .content .left.p2 {
  	height: 80px;
 	padding: 20px 0 0 10px;	
 }
 .resources .r2 .col2 .content .left.p3 {
 	height: 60px;
 	padding: 40px 0 0 10px;
 }
 .resources .r2 .col2 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 100px;
 	width: 180px;
 	height: 100px;
 }
 .resources .r2 .col3 {
 	position: absolute;
 	top: 0px;
 	left: 640px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col3 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col3 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col3 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 90px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col3 .content .left.p1 {
 	height: 64px;
 	padding: 36px 0 0 10px;
 }
 .resources .r2 .col3 .content .left.p2 {
  	height: 64px;
 	padding: 36px 0 0 10px;	
 }
 .resources .r2 .col3 .content .left.p3 {
 	height: 64px;
 	padding: 36px 0 0 10px;
 }
 .resources .r2 .col3 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 100px;
 	width: 180px;
 	height: 100px;
 }
 .resources .r3 {
	position: relative;
	width: 940px;
	margin: 30px auto 0 auto;
	border-top: 1px solid rgba(230, 60, 46, 1);
 }

 /**
  *	Shared Page Styles
  **/

 .shared .r1 {
 	position: relative;
 	top: 0px;
 	left: 0px;
 	height: 30px;
 	margin: 30px 0 30px 0;
 }
 .shared .r1 .prompt {
 	position: absolute;
 	top: 0px;
 	left: 270px;
 	width: 400px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	text-align: center;
 	background-color: rgba(230, 60, 46, 1);
 }
