/** 
 *	General Styles
 **/

html {
	background-color: rgba(26, 26, 26, 1);
	color: #FFFFFF;
	font-weight: normal;
}
#wrapper {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.hText {
	font-family: 'Montserrat', sans-serif;
}
.cText {
	font-family: 'PT Sans', sans-serif;
}
.cText a {
	font-weight: bold;
}
.button {
	cursor: pointer;
	background-color: rgba(230, 60, 46, 1);
}
.button:hover {
	background-color: #FFFFFF;
	color: rgba(230, 60, 46, 1);
}
.superscript {
	vertical-align: super;
}
.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9 {
	width: 940px;
	height: auto;
	margin: 0 auto;
}
a:link, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: rgba(230, 60, 46, 1);
	text-decoration: none;
}
a:hover .button {
	background-color: #FFFFFF;
}
a .buttonMask, .openModal .buttonMask {
	position: absolute;
	background-color: rgba(26, 26, 26, 0);
}
a:hover .buttonMask, .openModal:hover .buttonMask {
	background-color: rgba(26, 26, 26, .6);
}
.openModal {
	cursor: pointer;
}
.openModal:hover .button {
	color: rgba(230, 60, 46, 1);
	background-color: #FFFFFF;
}
input {
	border: none;
	opacity: .9;
	padding-left: 4px;
}
textarea, input {
	resize: none;
	border: 1px solid rgba(51, 51, 51, 1);
}
input:focus, select:focus, textarea:focus, [contenteditable="true"]:focus {
    outline: none;
    border: 1px solid rgba(230, 60, 46, 1);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(230, 60, 46, 1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(230, 60, 46, 1);
    -ms-box-shadow: 0px 0px 1px 0px rgba(230, 60, 46, 1);
    -o-box-shadow: 0px 0px 1px 0px rgba(230, 60, 46, 1);
    box-shadow: 0px 0px 1px 0px rgba(230, 60, 46, 1);
}
.darkgrey {
	color: rgba(51, 51, 51, 1);
}
.lightgrey {
	color: rgba(102, 102, 102, 1);
}
.red {
	color: rgba(230, 60, 46, 1);
}
.email {
	background: url('../img/icons.png') 0px -14px;
}
.facebook {
	background: url('../img/icons.png') -50px -14px;
}
.twitter {
	background: url('../img/icons.png') -100px -14px;
}
.email:hover {
	background: url('../img/icons.png') 0px -56px;
}
.facebook:hover {
	background: url('../img/icons.png') -50px -56px;
}
.twitter:hover {
	background: url('../img/icons.png') -100px -56px;
}
#iframeModal {
	position: fixed;
	top: 50%;
	left: -1000px;
	width: 560px;
	height: 310px;
	margin: -155px 0 0 -280px;
	z-index: 1000;
	display: block;
	visibility: hidden;
}
#exitModal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 19px;
	padding: 1px 0 0 0;
	margin: -155px 0 0 280px;
	background-color: rgba(230, 60, 46, 1);
	text-align: center;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
#dot {
	position: absolute;
	top: 104px;
	left: 148px;
}
.disclaimer {
	position: relative;
	width: 940px;
	height: 12px;
	padding: 8px 0 0 0;
	font-size: 8px;
	letter-spacing: 1px;
	color: rgba(102, 102, 102, 1);
	margin: 10px 0 10px 0;
	text-align: right;
}

/**
 *	Splash Page Styles
 **/

.splash {
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 60px 0 0 0;

}
.splash .r1 {
	width: 612px;
	font-size: 102px;
	line-height: 112px;
}
.splash .r2 {
	width: 612px;
	height: 125px;
	font-size: 102px;
}
.splash .r2 .flip {
	position: relative;
	height: 125px;
	margin: 0 0 0 0;
	text-align: center;
	display: inline-block;
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
}
.fade {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 125px;
	font-size: 102px;
	opacity: .1;
}
#enterIs, #enterIs .enterButton .face.back .fade {
	width: 150px;
}
#enterNot, #enterNot .enterButton .face.back .fade {
 	width: 420px;
}
#enterIs .enterButton .back {
	padding: 20px 0 0 0;
	height: 105px;
}
#enterNot .enterButton .back {
	padding: 48px 0 0 0;
	height: 77px;
}
.splash .r2 .flip .enterButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: inherit;
	height: inherit;
	background-color: rgba(230, 60, 46, 1);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-webkit-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-moz-backface-visibility: hidden;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-ms-backface-visibility: hidden;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	-o-backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: 0.5s;
	backface-visibility: hidden;
}
.splash .r2 .flip:hover .enterButton, .splash .r2 .flip.hover .enterButton {
	-webkit-transform: rotatey(-180deg);
	-moz-transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg);
	-o-transform: rotatey(-180deg);
	transform: rotatey(-180deg);
}
.splash .r2 .flip .enterButton .face.front {
	position: absolute;
	width: inherit;
	color: #FFFFFF;
	background-color: rgba(230, 60, 46, 1);
	cursor: pointer;
	z-index: 100;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.splash .r2 .flip .enterButton .face.back {
	position: absolute;
	width: inherit;
	color: rgba(230, 60, 46, 1);
	background-color: #FFFFFF;
	cursor: pointer;
	z-index: 1;
	font-size: 24px;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotatey(180deg);
	-moz-backface-visibility: hidden;
	-moz-transform: rotatey(180deg);
	-ms-backface-visibility: hidden;
	-ms-transform: rotatey(180deg);
	-o-backface-visibility: hidden;
	-o-transform: rotatey(180deg);
	backface-visibility: hidden;
	transform: rotatey(180deg);
}
.splash .r3 {
	width: 612px;
	font-size: 102px;
	letter-spacing: 10px;
	line-height: 112px
}
.splash .r4 {
	width: 612px;
	height: 64px;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .5px;
}
.splash .r5 {
	width: 612px;
}
.splash .r5 .box {
	height: 42px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 0 8px 0;
}
.splash .r6 {
	width: 612px;
	text-align: left;
	font-size: 11px;
	padding: 3px 0 0 0;
	font-weight: normal;
}
.splash .disclaimer {
	position: relative;
	width: 612px;
	height: 12px;
	padding: 8px 0 0 0;
	font-size: 8px;
	margin: 10px auto 10px auto;
	text-align: left;
}

/**
 *	Head Styles
 **/

 .head {
 	position: relative;
 	height: 109px;
 	overflow: hidden;
 	border-bottom: 1px solid rgba(230, 60, 46, 1);
 }
 .head .headLeft {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 154px;
 	height: 108px;
 	display: inline-block;
 }
 .head .headLeft .homeLogo {
 	position: relative;
 	width: 140px;
 	margin: 6px 0 8px 0;
 	padding: 0 12px 0 0;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 	display: inline-block;
 }
 .head .headRight {
 	position: absolute;
 	top: 0px;
 	left: 154px;
 	width: 786px;
 	height: 108px;
 	display: inline-block;
 }
 .head .headRight .statement {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 226px;
 	height: 78px;
 	padding: 2px 0 0 10px;
 	font-size: 12px;
 	line-height: 20px;
 	letter-spacing: 2px;
 	color: rgba(102, 102, 102, 1);
 	display: inline-block;
 }
 .head .headRight .share {
 	position: absolute;
 	top: 0px;
 	left: 234px;
 	width: 148px;
 	height: 72px;
 	padding: 8px 0 0 424px;
 	display: inline-block;
 }
 .head .headRight .share .icon {
 	width: 40px;
 	height: 32px;
 	padding: 0 5px 0 0;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 	display: inline-block;
 	cursor: pointer;
 }
 .head .headRight .share .icon:last-child {
 	border: none;
 }
 .head .headRight .nav {
 	position: absolute;
 	top: 80px;
 	left: 0px;
 	width: 786px;
 	height: 20px;
 	padding: 0 0 8px 0;
 	display: inline-block;
 }
 .head .headRight .nav a {
 	margin: 0 0 0 54px;
 }
 .head .headRight .nav a:first-child {
 	margin: 0 0 0 12px;
 }
 .about .head .headRight .nav a:nth-child(1) {
 	color: rgba(230, 60, 46, 1);
 }
 .whyknow .head .headRight .nav a:nth-child(2) {
 	color: rgba(230, 60, 46, 1);
 }
 .shared .head .headRight .nav a:nth-child(3) {
 	color: rgba(230, 60, 46, 1);
 }
 .interviews .head .headRight .nav a:nth-child(4) {
 	color: rgba(230, 60, 46, 1);
 }
 .give .head .headRight .nav a:nth-child(5) {
 	color: rgba(230, 60, 46, 1);
 }
 .resources .head .headRight .nav a:nth-child(6) {
 	color: rgba(230, 60, 46, 1);
 }

/**
 *	Foot Styles
 **/

.footerBreak {
	position: relative;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 0px;
	margin: 30px auto 19px auto;
	border-bottom: 1px solid rgba(230, 60, 46, 1);
}
.footer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 90px;
	text-align: left;
}
.footer .logos {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 788px;
	height: 90px;
	text-align: right;
}
.footer .columnfive {
	position: absolute;
	top: 0px;
	left: 788px;
	width: 120px;
	height: 90px;
	margin: 0 0 0 32px;
}
.footer .logos a {
	display: inline-block;
	margin: auto 0 auto 30px;
	vertical-align: middle;
}
.footer .logos a:first-child {
	margin: auto 0;
}
.footer .logos a img {
	display: inline-block;
}
.splash .footer {
	width: 612px;
	margin: 20px auto 30px auto;
}
.splash .footer .logos {
	width: 400px;
}
.splash .footer .columnfive {
	left: 400px;
}

/**
 *	Home Page Styles
 **/

 .home .r1 {
 	position: relative;
 	height: 552px;
 	margin: 30px 0 30px 0;
 }
 .home .r1 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 680px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .home .r1 .col1 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 640px;
 	height: 18px;
 	margin: 20px 20px 12px 20px;
 }
 .home .r1 .col1 .info {
 	position: absolute;
 	top: 52px;
 	left: 0px;
 	height: 80px;
 	width: 620px;
 	padding: 0 20px 0 0;
 	margin: 0 20px 0 20px;
 	border-bottom: 1px solid rgba(230, 60, 46, 1);
 	font-size: 13px;
 }
 .home .r1 .col1 .content {
 	position: absolute;
 	top: 132px;
 	left: 0px;
 	width: 640px;
 	height: 370px;
 	margin: 10px 20px 0 20px;
 }
 .home .r1 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 700px;
 	width: 240px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .home .r1 .col2 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 200px;
 	height: 40px;
 	margin: 20px 20px 10px 20px;
 }
  .home .r1 .col2 .content {
 	position: absolute;
 	top: 70px;
 	left: 0px;
 	width: 240px;
 	height: 220px;
 }
 .home .r1 .col2 .content img {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 200px;
 	height: 200px;
 	margin: 0 20px;
 }
 .home .r1 .col2 .info {
 	position: absolute;
 	top: 290px;
 	left: 0px;
 	width: 200px;
 	height: 152px;
 	margin: 0px 20px 20px 20px;
 	font-size: 13px;
 }
 .home .r1 .col2 .info .quotes {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 40px;
 	height: 30px;
 	font-size: 120px;
 	line-height: 120px;
 }
 .home .r1 .col2 .info .contributor {
 	position: absolute;
 	top: 0px;
 	left: 60px;
 	width: 140px;
 	height: 40px;
 	font-size: 12px;
 	text-align: right;
 }
 .home .r1 .col2 .info .contributor .author {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 140px;
 	height: 16px;
 }
 .home .r1 .col2 .info .contributor .location {
 	position: absolute;
 	top: 16px;
 	left: 0px;
 	width: 140px;
 	height: 16px;
 	padding: 4px 0 4px 0;
 }
 .home .r1 .col2 .info .snippet {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	width: 200px;
  	height: 92px;
	overflow: hidden;
 }
 .home .r1 .col2 .info .readmore {
 	position: absolute;
 	top: 132px;
 	left: 0px;
 	width: 200px;
 	height: 14px;
 	padding: 6px 0 0 0;
 }
 .home .r1 .col2 .button {
 	position: absolute;
 	top: 462px;
 	width: 240px;
 	height: 90px;
 }
 .home .r1 .col2 .button .share {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 160px;
 	height: 38px;
 	padding: 6px 0 0 0;
 	margin: 0 40px;
 	font-size: 32px;
 	text-align: center;
 	border-bottom: solid 1px #FFFFFF;
 }
 .home .r1 .col2 .button:hover .share {
 	border-bottom: solid 1px rgba(230, 60, 46, 1);
 }
 .home .r1 .col2 .button .why {
 	position: absolute;
 	top: 50px;
 	left: 0px;
 	width: 240px;
 	height: 38px;
 	padding: 0px 0 0 0;
 	font-size: 14px;
 	text-align: center;
 	line-height: 14px;
 }
 .home .r2 {
 	position: relative;
 	height: 170px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .home .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .home .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .home .r2 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .home .r2 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 180px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .home .r3 {
  	position: relative;
 	height: 60px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .home .r3 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r3 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r4 {
 	position: relative;
 	height: 140px;
 }
 .home .r4 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .home .r4 .col1 .left, .home .r4 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .home .r4 .col1 .right, .home .r4 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .home .r4 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
 .home .r5 {
  	position: relative;
 	height: 30px;
 }
 .home .r5 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r5 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .home .r6 {
 	position: relative;
 	height: 140px;
 }
 .home .r6 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .home .r6 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
  .home .r6 .col1 .left, .home .r6 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .home .r6 .col1 .right, .home .r6 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .home .r7 {
 	position: relative;
 	height: 90px;
 	margin-top: 20px;
 }
 .home .r7 .col1 {
 	position: relative;
 	height: 42px;
 	width: 560px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 auto;
	text-align: center;
 }
 .home .r8 {
 	position: relative;
 	height: 110px;
 }
 .home .r8 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 }
 .home .r8 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 }
 .home .r8 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .home .r8 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 200px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
  .home .r2 .col1 .img, .home .r2 .col2 .img, .home .r8 .col1 .img, .home .r8 .col2 .img {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 }
 .home .r2 a .buttonMask, .home .r8 a .buttonMask, .home .r8 .openModal .buttonMask {
	top: 0px;
	left: 0px;
	width: 460px;
	height: 110px;
 }

/**
 *	Why Know? Page Styles
 **/

 .whyknow .r1 {
 	position: relative;
 	height: 490px;
 	margin: 30px 0 30px 0;
 }
 .whyknow .r1 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 620px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .whyknow .r1 .col1 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 580px;
 	height: 18px;
 	margin: 20px 20px 12px 20px;
 }
 .whyknow .r1 .col1 .info {
 	position: absolute;
 	top: 50px;
 	left: 0px;
 	height: 79px;
 	width: 580px;
 	margin: 0 20px 0 20px;
 	font-size: 14px;
 	border-bottom: 1px solid rgba(230, 60, 46, 1);
 }
 .whyknow .r1 .col1 .content {
 	position: absolute;
 	top: 130px;
 	left: 0px;
 	width: 580px;
 	height: 330px;
 	margin: 20px 20px 10px 20px;
 }
 .whyknow .r1 .col1 .content .leader {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 580px;
 	height: 20px;
 	margin: 0px 0px 20px 0px;
 }
  .whyknow .r1 .col1 .content .stat {
  	position: absolute;
  	top: 40px;
 	width: 193px;
 	height: 250px;
 	margin: 0 0 10px 0;
 }
 .whyknow .r1 .col1 .content .stat .img {
  	height: 134px;
 	text-align: center;
 }
 .whyknow .r1 .col1 .content .stat:nth-child(2) {
 	position: absolute;
 	left: 0px;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 }
 .whyknow .r1 .col1 .content .stat:nth-child(2) .img {
 	position: absolute;
 	left: 12px;
 }
 .whyknow .r1 .col1 .content .stat:nth-child(3) {
 	position: absolute;
 	left: 194px;
 	border-right: 1px solid rgba(230, 60, 46, 1);
 }
 .whyknow .r1 .col1 .content .stat:nth-child(4) {
 	position: absolute;
 	left: 387px;
 }
 .whyknow .r1 .col1 .content .stat .text {
 	position: absolute;
 	top: 134px;
 	left: 0px;
 	width: 173px;
 	height: 116px;
 	margin: 0 0 0 20px;
 }
 .whyknow .r1 .col1 .content .stat .text .lead {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	height: 40px;
 	width: 173px;
 }
 .whyknow .r1 .col1 .content .stat .text .body {
 	position: absolute;
 	top: 40px;
 	left: 0px;
 	height: 76px;
 	width: 173px;
 	font-size: 14px;
 }
 .whyknow .r1 .col1 .content .stat:nth-child(2) .text .lead {
 	font-size: 48px;
 	line-height: 40px;
 }
 .whyknow .r1 .col1 .content .sources {
 	position: absolute;
 	top: 300px;
 	left: 0px;
 	width: 540px;
 	height: 30px;
 	margin: 0 20px 0 20px;
 	text-align: right;
 	font-size: 8px;
 }
 .whyknow .r1 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 640px;
 	width: 300px;
 	height: inherit;
 	background-color: rgba(51, 51, 51, 1);
 }
 .whyknow .r1 .col2 .header {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 260px;
 	height: 48px;
 	margin: 20px 20px 0 20px;
 }
 .whyknow .r1 .col2 .content {
 	position: absolute;
 	top: 68px;
 	left: 0px;
 	width: 260px;
 	height: 200px;
 	margin: 0 20px 0 20px;
 }
 .whyknow .r1 .col2 .info {
 	position: absolute;
 	top: 268px;
 	left: 0px;
 	width: 260px;
 	height: 130px;
 	margin: 12px 20px 20px 20px;
 	font-size: 14px;
 }	
 .whyknow .r1 .col2 .button {
 	position: absolute;
 	top: 430px;
 	width: 300px;
 	height: 42px;
 	padding: 18px 0 0 0;
 	font-size: 20px;
 	text-align: center;
 }

 .whyknow .r2 {
 	position: relative;
 	height: 170px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .whyknow .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .whyknow .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 	margin: 30px auto;
 }
 .whyknow .r2 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .whyknow .r2 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 180px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .whyknow .r3 {
  	position: relative;
 	height: 60px;
 	border-top: 1px solid rgba(230, 60, 46, 1);
 }
 .whyknow .r3 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyknow .r3 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	margin: 30px 0 0 0;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyknow .r4 {
 	position: relative;
 	height: 140px;
 }
 .whyknow .r4 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .whyknow .r4 .col1 .left, .whyknow .r4 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .whyknow .r4 .col1 .right, .whyknow .r4 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .whyknow .r4 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
 .whyknow .r5 {
  	position: relative;
 	height: 30px;
 }
 .whyknow .r5 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyknow .r5 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 448px;
 	height: 24px;
 	padding: 6px 0px 0px 12px;
 	background-color: rgba(102, 102, 102, 1);
 	letter-spacing: 4px;
 }
 .whyknow .r6 {
 	position: relative;
 	height: 140px;
 }
 .whyknow .r6 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 140px;
 }
 .whyknow .r6 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 140px;
 }
  .whyknow .r6 .col1 .left, .whyknow .r6 .col2 .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 120px;
 	height: 140px;
 }
 .whyknow .r6 .col1 .right, .whyknow .r6 .col2 .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 340px;
 	height: 110px;
 	margin: 30px 0 0 0;
 	font-size: 13px;
 }
 .whyknow .r7 {
 	position: relative;
 	height: 90px;
 	margin-top: 20px;
 }
 .whyknow .r7 .col1 {
 	position: relative;
 	height: 42px;
 	width: 560px;
	padding: 8px 0 0 0;
	font-size: 14px;
	border: 2px solid rgba(230, 60, 46, 1);
	color: rgba(230, 60, 46, 1);
	margin: 0 auto;
	text-align: center;
 }
 .whyknow .r8 {
 	position: relative;
 	height: 110px;
 }
 .whyknow .r8 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 460px;
 	height: 110px;
 }
 .whyknow .r8 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 480px;
 	width: 460px;
 	height: 110px;
 }
 .whyknow .r8 .col1 .button {
 	position: relative;
 	top: 0px;
 	width: 260px;
 	height: 44px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 30px auto;
 }
  .whyknow .r8 .col2 .button {
  	position: relative;
 	top: 0px;
 	width: 200px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 40px auto;
 }
 .whyknow .r2 .col1 .img, .whyknow .r2 .col2 .img, .whyknow .r8 .col1 .img, .whyknow .r8 .col2 .img {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 }
 .whyknow .r2 a .buttonMask, .whyknow .r8 a .buttonMask, .whyknow .r8 .openModal .buttonMask {
	top: 0px;
	left: 0px;
	width: 460px;
	height: 110px;
 }

 /**
  *	About Page Styles
  **/

.about .r1 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 250px;
	margin: 30px 0 0 0;
}
.about .r1 .img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 250px;
}
.about .r1 .title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 210px;
	margin: 20px 20px 20px 20px;
	font-size: 48px;
	letter-spacing: 4px;
}
.about .r1 .title .smaller {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 36px;
}
.about .r1 .img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.about .r2 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 1080px;
	padding: 20px 20px 20px 20px;
	background-color: rgba(51, 51, 51, 1);
}
.about .r2 .video {
	position: relative;
	margin: 0 0 10px 10px;
	float: right;
}
.about .r3 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 110px;
	padding: 0 20px 20px 20px;
	background-color: rgba(51, 51, 51, 1);
}
.about .r3 .img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 110px;
}
.about .r3 .button {
	position: absolute;
	top: 30px;
	left: 270px;
	width: 400px;
	height: 40px;
	padding: 10px 0 0 0;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
}
.about .r3 a .buttonMask {
	top: 0px;
	left: 20px;
	width: 900px;
	height: 110px;
}

 /**
  *	Give Page Styles
  **/

.give .r1 {
	position: relative;
	width: 940px;
	height: 480px;
	margin: 30px auto 0 auto;
	background-color: #000000;
}
.give .r1 .col1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 480px;
}
.give .r1 .col1 .top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 200px;
}
.give .r1 .col1 .top .header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 440px;
	height: 30px;
	margin: 30px 0 20px 20px;
	font-size: 28px
}
.give .r1 .col1 .top .content {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 440px;
	height: 100px;
	margin: 0 0 20px 20px;
	font-size: 12px;
}
.give .r1 .col1 .bottom {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 460px;
	height: 280px;
}
.give .r1 .col1 .bottom .content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 280px;
}
.give .r1 .col1 .bottom .info {
	position: absolute;
	top: 190px;
	left: 0px;
	width: 460px;
	height: 90px;
	background-color: rgba(51, 51, 51, .75);
}
.give .r1 .col1 .bottom .info .price {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 64px;
	margin: 13px 0 13px 20px;
	border-right: 1px solid #FFFFFF;
	font-size: 56px;
	font-weight: bold;
	line-height: 44px;
}
.give .r1 .col1 .bottom .info .price .superscript {
	font-size: 28px;
}
.give .r1 .col1 .bottom .info .donate {
	position: absolute;
	left: 180px;
	top: 0px;
	width: 270px;
	height: 64px;
	margin: 13px 0 13px 10px;
}
.give .r1 .col1 .bottom .info .donate {
	font-size: 14px;
}
.give .r1 .col1 .bottom .info .donate .cText {
	font-size: 12px;
}
.give .r1 .col2 {
	position: absolute;
	top: 0px;
	left: 480px;
	width: 460px;
	height: 480px;
}
.give .r1 .col2 .top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 460px;
	height: 230px;
}
.give .r1 .col2 .top .button {
  	position: relative;
 	top: 0px;
 	width: 220px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	font-size: 16px;
 	text-align: center;
 	margin: 110px auto;
}
.give .r1 .col2 .bottom {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 460px;
	height: 230px;
}
.give .r1 .col2 .bottom .button {
	position: relative;
 	top: 0px;
 	width: 280px;
 	height: 24px;
 	padding: 6px 0 0 ;
 	font-size: 16px;
 	text-align: center;
 	margin: 110px auto;
}
.give .r1 .col2 .top .img, .give .r1 .col2 .bottom .img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.give .r2 {
	position: relative;
	width: 940px;
	margin: 30px auto 0 auto;
	border-top: 1px solid rgba(230, 60, 46, 1);
}
.give .r1 a .buttonMask {
	top: 0px;
	left: 0px;
	width: 460px;
	height: 230px;
}
.give .r2 {
	width: 920px;
	padding: 0 0 0 20px;
	font-size: 12px;
	color: rgba(102, 102, 102, 1);
	border: none;
}

 /**
  *	Resources Page Styles
  **/

 .resources .r1 {
 	position: relative;
 	height: 48px;
 	padding: 22px 0 0 0;
 	font-size: 20px
 }
 .resources .r2 {
 	position: relative;
 	height: 410px;
 }
 .resources .r2 .col1 {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col1 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col1 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col1 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 110px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col1 .content .left.p1 {
 	height: 88px;
 	padding: 12px 0 0 10px;
 }
 .resources .r2 .col1 .content .left.p2 {
  	height: 64px;
 	padding: 36px 0 0 10px;	
 }
 .resources .r2 .col1 .content .left.p3 {
 	height: 58px;
 	padding: 42px 0 0 10px;
 }
 .resources .r2 .col1 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 160px;
 	height: 100px;
 }
 .resources .r2 .col2 {
 	position: absolute;
 	top: 0px;
 	left: 320px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col2 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col2 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col2 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 110px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col2 .content .left.p1 {
 	height: 72px;
 	padding: 28px 0 0 10px;
 }
 .resources .r2 .col2 .content .left.p2 {
  	height: 80px;
 	padding: 20px 0 0 10px;	
 }
 .resources .r2 .col2 .content .left.p3 {
 	height: 72px;
 	padding: 28px 0 0 10px;
 }
 .resources .r2 .col2 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 160px;
 	height: 100px;
 }
 .resources .r2 .col3 {
 	position: absolute;
 	top: 0px;
 	left: 640px;
 	width: 300px;
 	height: 410px;
 	background-color: #000000;
 }
 .resources .r2 .col3 .header {
 	position: relative;
 	width: 240px;
 	height: 24px;
 	background-color: rgba(230, 60, 46, 1);
 	padding: 6px 0 0 0;
 	margin: 20px auto 30px auto;
 	text-align: center;
 }
 .resources .r2 .col3 .content {
 	position: relative;
 	width: 280px;
 	height: 100px;
 	margin: 0 auto 10px auto;
 	background-color: #FFFFFF;
 }
 .resources .r2 .col3 .content .left {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 110px;
 	font-size: 12px;
 	background-color: rgba(102, 102, 102, 1);
 }
 .resources .r2 .col3 .content .left.p1 {
 	height: 56px;
 	padding: 44px 0 0 10px;
 }
 .resources .r2 .col3 .content .left.p2 {
  	height: 64px;
 	padding: 36px 0 0 10px;	
 }
 .resources .r2 .col3 .content .left.p3 {
 	height: 72px;
 	padding: 28px 0 0 10px;
 }
 .resources .r2 .col3 .content .right {
 	position: absolute;
 	top: 0px;
 	left: 120px;
 	width: 160px;
 	height: 100px;
 }
 .resources .r2 .buttonMask {
 	top: 0px;
 	left: 0px;
 	width: 280px;
 	height: 100px;
 	z-index: 100;
 }
 .resources .r2 .content a:hover .left {
 	background-color: rgba(255, 255, 255, 1);
 }
 /**
  *	Shared Page Styles
  **/

 .shared .r1 {
 	position: relative;
 	top: 0px;
 	left: 0px;
 	height: 30px;
 	margin: 30px 0 30px 0;
 }
 .shared .r1 .prompt {
 	position: absolute;
 	top: 0px;
 	left: 270px;
 	width: 400px;
 	height: 24px;
 	padding: 6px 0 0 0;
 	text-align: center;
 	background-color: rgba(230, 60, 46, 1);
 }
 .shared .r2 {
 	position: relative;
 	top: 0px;
 	left: 0px;
 	width: 960px;
 	margin: 0 0 50px -7px;
 }
 .shared .r2 .clear {
 	clear: both;
 }
 .shared .r3 {
 	position: relative;
 	bottom: 0px;
 	height: 30px;
 	margin: 30px auto 40px auto;
 }
 .shared .r3 .loading, .shared .r3 .failed {
 	position: relative;
 	top: 0px;
 	left: 50%;
 	width: 160px;
 	margin: 0 0 0 -80px;
 	text-align: center;
 	display: none;
 }
 .shared .r3 .done {
 	position: relative;
 	top: 0px;
 	left: 50%;
 	width: 400px;
 	height: 24px;
 	margin: 0 0 0 -200px;
 	padding: 6px 0 0 0;
 	text-align: center;
 	display: none;
 }

/**
 *	Interviews Page Styles
 **/

 .interviews .r1 {
 	position: relative;
 	top: 0px;
 	left: 0px;
 	height: auto;
 	margin: 30px 0 30px 0;
 }
 .interviews .r1 .content:nth-child(odd) {
 	position: relative;
 	width: 440px;
 	height: 320px;
 	margin: 30px 27px 30px 0;
 	display: inline-block;
 }
 .interviews .r1 .content:nth-child(even) {
 	position: relative;
 	width: 440px;
 	height: 320px;
 	margin: 30px 0 30px 27px;
 	display: inline-block;
 }
 .interviews .r1 .content .header {
 	position: relative;
 	width: 432px;
 	height: 24px;
 	padding: 6px 0 0 8px;
 	background-color: rgba(51, 51, 51, 1);
 }
 .interviews .r1 .content .video{
 	position: relative;
 	width: 440px;
 	height: 280px;
 }

/**
 *	404 Page Styles
 **/

 .notfound .r1 .col1 {
 	margin: 30px 0 0 0;
 	text-align: center;
 }
 .notfound .r2 .col1 {
 	margin: 30px 0 0 0;
 }
 .notfound .r2 .col1 .return {
 	position: relative;
 	width: 280px;
 	height: 24px;
 	font-size: 16px;
 	text-align: center;
 	color: #FFFFFF;
 	padding: 6px 0 0 0;
 	margin: 0 auto;
 	cursor: pointer;
 	border: none;
	background-color: rgba(230, 60, 46, 1);
}
 .notfound .r2 .col1 .return:hover {
	background-color: #FFFFFF;
	color: rgba(230, 60, 46, 1);
}