<body>
<div id="wrapper" class="give">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon">
					<img src="../img/email-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/facebook-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/twitter-icon.png" />
				</div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="col1">
			<div class="top">	
				<div class="header hText">
					GIVE | WEAR | SHARE
				</div>
				<div class="content cText">
					AIDS/LifeCycle was created with an aim to increase awareness and<br />
					knowledge of HIV/AIDS among participants, donors, and the general<br />
					public. The 545-mile ride from San Francisco to LA is a ride for every-<br />
					one and a ride that supports health for all. Your donation furthers the<br />
					impact of organizations that have been there since before HIV had a<br />
					name, and gives a future for men, women, and childen the world over.
				</div>
			</div>
			<div class="bottom">
				<div class="content">
					<img src="../img/tee-color.png" />
				</div>
				<div class="info">
					<div class="price hText">
						$54<span class="superscript">.50</span>
					</div>
					<div class="donate">
						<div class="hText">
							T-SHIRT AVAILABLE WITH A<br />
							DONATION OF $54.50 OR MORE<br />
						</div>
						<div class="cText">
							10&cent; for every mile of the AIDS/Lifecycle<br />
							ride from San Francisco to Los Angeles
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="top">
				<div class="img">
					<img src="../img/parker-riding.png" />
				</div>
				<div class="button hText">
					GIVE TO PARKER'S RIDE
				</div>
			</div>
			<div class="bottom">
				<div class="img">
					<img src="../img/holding-bike.png" />
				</div>
				<div class="button hText">
					GIVE TO OTHER PARTICIPANTS<br />
					OF THE IMPULSE GROUP TEAM
				</div>
			</div>
		</div>
	</div>
	<div class="r2"></div>
</div>
</body>