<body>
<div id="wrapper" class="home">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br>
				OF AIDS/LIFE CYCLE AND<br>
				THE WORK OF THE AIDS<br>
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon">
					<img src="../img/email-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/facebook-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/twitter-icon.png" />
				</div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r2">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r3">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r4">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r5">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r6">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
	<div class="r7">
		<div class="col1 hText">
			TOGETHER, WE CAN END HIV INFECTION.<br>
			BEING ABLE TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
		</div>
	</div>
	<div class="r8">
		<div class="col1">
			
		</div>
		<div class="col2">

		</div>
	</div>
</div>
</body>