<body>
<div id="wrapper" class="whyshare">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br>
				OF AIDS/LIFE CYCLE AND<br>
				THE WORK OF THE AIDS<br>
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon">
					<img src="../img/email-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/facebook-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/twitter-icon.png" />
				</div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="col1">
				<div class="header hText">
					MY STATUS <span class="red">IS</span> A SECRET
				</div>
				<div class="info cText">
					Not knowing your HIV status can be paralyzing. The tension leading up to finding out your<br>
					results&mdash;agonizing. Knowing is freedom from doubt and the ability to determine how best to<br>
					protect yourself, others, and your own future. 
				</div>
				<div class="content">
					
				</div>
			</div>
			<div class="col2">
				<div class="header hText">
					OVER <span class="red">2 MILLION</span> PEOPLE<br>
					ARE DIAGNOSED WITH HIV<BR>
					EVERY YEAR.
				</div>
				<div class="content">

				</div>
				<div class="info cText">
					We all keep secrets from ourselves. Some-<br>
					times we think it's easier to push some-<br>
					thing down inside ourselves than confront<br>
					it head-on, but sooner or later, the fears<br>
					and truths we hide resurface. There are real<br>
					consequences to this habit&mdash;no truer than<br>
					when it comes to your health.
				</div>
				<a href="resources">
					<div class="button hText">
						HIV/AIDS RESOURCES
					</div>
				</a>
			</div>
		</div>
		<div class="r2">
			<div class="col1">
				<a href="home">
					<div class="button hText">
						READ WHY THEIR STATUS<br>
						IS NOT A SECRET
					</div>
				</a>
			</div>
			<div class="col2">
				<a href="about">
					<div class="button hText">
						PARKER'S STORY
					</div>
				</a>
			</div>
		</div>
		<div class="r3">
			<div class="col1 hText">
				I KNOW
			</div>
			<div class="col2 hText">
				I DON'T KNOW
			</div>
		</div>
		<div class="r4">
			<div class="col1">
				
			</div>
			<div class="col2">

			</div>
		</div>
		<div class="r5">
			<div class="col1 hText">
				I SHARE
			</div>
			<div class="col2 hText">
				I DON'T SHARE
			</div>
		</div>
		<div class="r6">
			<div class="col1">
				
			</div>
			<div class="col2">

			</div>
		</div>
		<div class="r7">
			<div class="col1 hText">
				TOGETHER, WE CAN END HIV INFECTION.<br>
				BEING ABLE TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
			</div>
		</div>
		<div class="r8">
			<div class="col1">
				<a href="home">
					<div class="button hText">
						SHARE WHY YOUR STATUS<br>
						IS NOT A SECRET
					</div>
				</a>
			</div>
			<div class="col2">
				<a href="about">
					<div class="button hText">
						GIVE | WEAR | SHARE
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</body>