<body>
<div id="wrapper" class="resources">
	<div class="head hText">
		<div class="headLeft hText">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br>
				OF AIDS/LIFE CYCLE AND<br>
				THE WORK OF THE AIDS<br>
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon">
					<img src="../img/email-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/facebook-icon.png" />
				</div>
				<div class="icon">
					<img src="../img/twitter-icon.png" />
				</div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1 hText">
		HIV/AIDS RESOURCES
	</div>
	<div class="r2">
		<div class="col1">
			<div class="header hText">
				TESTING
			</div>
			<div class="content">
				<div class="left hText p1">
					AIDS<br>
					PROJECT<br>
					LOS ANGELES
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p2">
					SAN<br>
					FRANCISCO<br>
					AIDS<br>
					FOUNDATION
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p3">
					SFHIV
				</div>
				<div class="right">

				</div>
			</div>
		</div>
		<div class="col2">
			<div class="header hText">
				SUPPORT
			</div>
			<div class="content">
				<div class="left hText p1">
					THE<br>
					BODY
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p2">
					NATIONAL<br>
					AIDS<br>
					HOUSING<br>
					COALITION
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p3">
					AVERT
				</div>
				<div class="right">

				</div>
			</div>
		</div>
		<div class="col3">
			<div class="header hText">
				COMING OUT HIV+
			</div>
			<div class="content">
				<div class="left hText p1">
					EXPERIENCE<br>
					PROJECT
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p2">
					HIV/AIDS<br>
					TRIBE
				</div>
				<div class="right">

				</div>
			</div>
			<div class="content">
				<div class="left hText p3">
					DAILY<br>
					STRENGTH
				</div>
				<div class="right">

				</div>
			</div>
		</div>
	</div>
	<div class="r3"></div>
</div>
</body>