<body>
<div id="wrapper" class="whyshare">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="col1">
				<div class="header hText">
					MY STATUS <span class="red">IS</span> A SECRET
				</div>
				<div class="info cText">
					Not knowing your HIV status can be paralyzing. The tension leading up to finding out your<br />
					results&mdash;agonizing. Knowing is freedom from doubt and the ability to determine how best to<br />
					protect yourself, others, and your own future. 
				</div>
				<div class="content">
					<div class="leader hText">
						WHAT'S NO SECRET?<span class="red"> HIV AFFECTS EVERYONE</span>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/holding-hands.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								1 in 5
							</div>
							<div class="body cText">
								people living with HIV<br />
								are undiagnosed
							</div>
						</div>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/pie-chart.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								YOUNG PEOPLE<br />
								BETWEEN 13 AND 29
							</div>
							<div class="body cText">
								represent 34% of new<br />
								HIV infections&mdash;the<br />
								largest share of any age<br />
								group.
							</div>
						</div>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/stopwatch.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								EVERY NINE AND<br />
								A HALF MINUTES
							</div>
							<div class="body cText">
								someone in the U.S. is<br />
								infected with HIV
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col2">
				<div class="header hText">
					OVER <span class="red">2 MILLION</span> PEOPLE<br />
					ARE DIAGNOSED WITH HIV<BR />
					EVERY YEAR.
				</div>
				<div class="content">

				</div>
				<div class="info cText">
					We all keep secrets from ourselves. Some-<br />
					times we think it's easier to push some-<br />
					thing down inside ourselves than confront<br />
					it head-on, but sooner or later, the fears<br />
					and truths we hide resurface. There are real<br />
					consequences to this habit&mdash;no truer than<br />
					when it comes to your health.
				</div>
				<div class="button hText">
					<a href="resources">
						HIV/AIDS RESOURCES
					</a>
				</div>
			</div>
		</div>
		<div class="r2">
			<div class="col1">
				<div class="img">
					<img src="../img/speaker.png" />
				</div>
				<div class="button hText">
					<a href="shared">
						READ WHY THEIR STATUS<br />
						IS NOT A SECRET
					</a>
				</div>
			</div>
			<div class="col2">
				<div class="img">
					<img src="../img/parker-close.png" />
				</div>
				<div class="button hText">
					<a href="about">
						PARKER'S STORY
					</a>
				</div>
			</div>
		</div>
		<div class="r3">
			<div class="col1 hText">
				I KNOW
			</div>
			<div class="col2 hText">
				I DON'T KNOW
			</div>
		</div>
		<div class="r4">
			<div class="col1">
				<div class="left">
					<img src="../img/lightbulb-on.png" />
				</div>
				<div class="right cText">
					Knowing your status gives you control over your actions,<br />
					your health, and your future. Regardless of the outcome<br />
					of getting tested, knowledge of the results provides an<br />
					increased awareness to live your life to the fullest.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/lightbulb-off.png" />
				</div>
				<div class="right cText">
					There are many reasons why someone might not go get<br />
					tested&mdash;no access to testing facilities, a lack of a sup-<br />
					port group, a fear of a positive result, but not knowing<br />
					can come at a cost to quality of life both physically and<br />
					psychologically.
				</div>
			</div>
		</div>
		<div class="r5">
			<div class="col1 hText">
				I SHARE
			</div>
			<div class="col2 hText">
				I DON'T SHARE
			</div>
		</div>
		<div class="r6">
			<div class="col1">
				<div class="left">
					<img src="../img/share-yes.png" />
				</div>
				<div class="right cText">
					If you know your HIV status, you have a choice of<br />
					whether to share it.* Sharing your status, positive or<br />
					negative, can help foster an open dialogue around the<br />
					disease and encourage other people to know theirs too.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/share-no.png" />
				</div>
				<div class="right cText">
					There is still a great deal of stigma surrounding HIV and<br />
					45 U.S. states have laws criminalizing HIV exposure so<br />
					the choice to share one's status or not can have high<br />
					stakes, though total silence from event those you care<br />
					about most can be tremendously damaging to one's<br />
					mental well-being.
				</div>
			</div>
		</div>
		<div class="r7">
			<div class="col1 hText">
				TOGETHER, WE CAN END HIV INFECTION.<br />
				BEING ABLE TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
			</div>
		</div>
		<div class="r8">
			<div class="col1">
				<div class="img">
					<img src="../img/shoulder.png" />
				</div>
				<div class="button hText openModal">
					SHARE WHY YOUR STATUS<br />
					IS NOT A SECRET
				</div>
			</div>
			<div class="col2">
				<div class="img">
					<img src="../img/tees.png" />
				</div>
				<div class="button hText">
					<a href="give">
						GIVE | WEAR | SHARE
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<div id="modal">
		<form class="content">
			<div class="col1">
				<div class="header hText">
					MY STATUS <span class="red">IS NOT</span> A SECRET BECAUSE....
				</div>
				<textarea class="storyInput" type="text"></textarea>
				<div class="subheader cText">
					Below fields are optional:
				</div>
				<div class="optionalInputs">
					<input class="name-input" placeholder="Name"/>
					<input class="country-input" placeholder="Country"/>
					<input class="state-input" placeholder="State"/>
				</div>
				<div class="hText submitModal">
					SHARE
				</div>
			</div>
			<div class="col2">
				<div class="header cText">
					Choose a photo:
				</div>
				<div class="images">
					<img class="image" src="../img/i-know.png">
					<img class="image" src="../img/i-share.png">
					<img class="image" src="../img/mini-logo.png">
					<img class="image" src="../img/dont-know.png">
					<img class="image" src="../img/why-not.png">
					<img class="image" src="../img/default-image.png">
				</div>
			</div>
		</form>
		<div class="exitModal hText">X</div>
	</div>
</div>
</body>