<body>
<div id="wrapper" class="db-test">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="button hText openModal">
				OPEN TEST MODAL
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<div id="modal">
		<form class="content">
			<div class="col1">
				<div class="header hText">
					MY STATUS <span class="red">IS NOT</span> A SECRET BECAUSE....
				</div>
				<textarea class="storyInput" type="text"></textarea>
				<div class="subheader cText">
					Below fields are optional:
				</div>
				<div class="optionalInputs">
					<input class="name-input" placeholder="Name"/>
					<input class="country-input" placeholder="Country"/>
					<input class="state-input" placeholder="State"/>
				</div>
				<div class="hText submitModal">
					SHARE
				</div>
			</div>
			<div class="col2">
				<div class="header cText">
					Choose a photo:
				</div>
				<div class="images">
					<img class="image" src="../img/i-know.png">
					<img class="image" src="../img/i-share.png">
					<img class="image" src="../img/mini-logo.png">
					<img class="image" src="../img/dont-know.png">
					<img class="image" src="../img/why-not.png">
					<img class="image" src="../img/default-image.png">
				</div>
			</div>
		</form>
		<div class="exitModal hText">X</div>
	</div>
</div>
</body>