<body>
<div id="wrapper" class="about">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome" data-position="147" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING<br />
				THE HIV EXPERIENCE
			</div>
			<div class="share">
				<a href="mailto:mystatusisnotasecret@gmail.com" target="_top">
					<div class="icon email"></div>
				</a>
				<a href="//www.facebook.com/MyStatusIsNotASecret" target="_blank">
					<div class="icon facebook"></div>
				</a>
				<a href="//twitter.com/mystatusis" target="_blank">
					<div class="icon twitter"></div>
				</a>
			</div>
			<div class="nav">
				<a href="about" class="homePosition" id="aboutLink" data-position="191">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="475">SHARED</a>
				<a href="interviews" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" id="giveLink" data-position="749">GIVE</a>
				<a href="resources" id="resourcesLink" data-position="874">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="r1">
		<div class="img">
			<img src="../img/essay-head.png" />
		</div>
		<div class="title hText">
			IT'S A GREAT DAY<br />
			TO BE ALIVE
		</div>
	</div>
	<div class="r2 cText">
		I’m 54 years young...and 10 years old.<br />
 		<br />
		I nearly died at birth. Over the course of four pregnancies,
		my mother’s Rh-negative blood had created antibodies that began
		attacking my Rh-positive body. I was blue, lacking oxygen and in
		need of a near&ndash;total blood transfusion. Rushed across town, I
		received lifesaving treatment.<br />
		<br />
		Forty-four years later, at 7:15pm, on January 8th, 2004, I found
		out that I am HIV positive.  When the social worker asked if I
		had any questions, I responded “You betcha!,” “What the f?” “How?”
		And finally, “Now what?” Without a plan, I just moved forward.
		The next day, I packed up the Saab and headed south, keeping a
		trip to see friends in LA. It was the longest, loneliest 7-hour
		trip of my life.  At the end of the journey, I felt the warm embrace
		of friends new and old, and my loneliness dissipated into the
		miles that were reflected in my rearview mirror.<br />
		<br />
		<div class="video">
			<iframe width="440" height="280" src="//www.youtube.com/embed/WBV25cqnXac" frameborder="0" allowfullscreen></iframe>
		</div>
		For the past ten years, I’ve had the incredible support of friends
		and of people who I didn’t even know: The tireless leaders and volunteers
		at the SF AIDS Foundation, Northwest AIDS Foundation, Gay Men’s Health
		Crisis, LA Gay and Lesbian Center, Whitman Walker Clinic, and others.
		Because of them, I have been afforded federal support, medications, and
		counseling that continue to improve my quality of life. I have been
		blessed, as these footholds have literally given me another chance
		at life.<br />
		<br />
		It makes sense to give back to those organizations that have been there
		from before HIV was named, which are still leading the way today.
		Riding in the AIDS/LifeCycle, a 545-mile charity bike trek from San
		Francisco to LA is one way to do this.<br />
		<br />
		As part of this, I have pledged to raise $54,000: $1,000 for each awesome
		year I have lived so far and $100 for each mile I will cycle in June.
		Money raised will go toward supporting treatment, social services,
		and bold new initiatives that go beyond the politics of sex, race, and
		sexual orientation, and focusing instead on public health for all. HIV 
		affects everyone, which is the main reason the “My Status Is Not A Secret”
		project came to be. When I came out as HIV&ndash;positive to my family after 10
		years, I heard their concern and their love. Yet I also heard
		“I expected it,” which gave me a bit of an 80’s flashback in which “being
		gay” equates with “getting HIV”&mdash;yet 50% of new infections in the U.S. now
		occur in the straight community. We still have major hurdles to clear.<br />
		<br />
		Thirty&ndash;plus years into the epidemic, stigma still exists for people 
		living with HIV. A lack of shared understanding of HIV contributes to 
		alarming and sometimes insidious expressions of ignorance. Amidst the 
		misinformation, jokes, and labeling, we also diminish our own
		humanity. When this kind of thinking abounds, it’s understandable why
		some choose to remain enigmatic. For many, it’s just more comfortable to
		live with plausible deniability.  Yet, the repercussions amount to a
		major health concern. Today, 20% of people with HIV in the U.S. don’t
		even know they have it. Their status is a secret even unto themselves.<br />
		<br /> 
		If people are going to be motivated to get tested, and if needed, get
		treatment, we need to bring conversations about HIV/AIDS out of the dark
		and into the light. And we can each play a part, which is just one
		reason for me to finally tell my story—and why my status is no longer
		a secret.<br />
		<br />
		We have important goals. We want to start meaningful conversations,
		share personal stories, and raise money for care and life&ndash;saving
		treatments. The good news is we’re on our way, and I’ve personally
		raised more than 50% of my fundraising goal. The better news is I’ve never
		been healthier. My latest blood test showed that all major indicators
		are within the normal range, and for that I am thankful.<br />
		<br />
		I’m 54 years young, 10 years old.<br />
		<br />
		Today, two simple injections are all that’s required to avoid the
		Rh-induced anemia that threatened my life when I was born. With your
		help, we can look forward to a similar solution that will make HIV as
		easily treated. I’m celebrating how far we’ve all come, and looking
		forward to what we all can accomplish. It’s a great day to be alive.<br />
		<br />
		Love and light,<br />
		<br />
		&mdash;Parker Trewin
	</div>
	<div class="r3">
		<a href="give">
			<img src="../img/essay-foot.png" />
			<div class="buttonMask"></div>
			<div class="button hText">
				GIVE BACK TO ORGANIZATIONS<br />
				WORKING TO FIGHT HIV/AIDS
			</div>
		</a>
	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.sfaf.org" target="_blank">
				<img src="../img/logo/sfaf-logo.png" />
			</a>
			<a href="//www.lagaycenter.org/" target="_blank">
				<img src="../img/logo/laglc-logo.png" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
		<div class="columnfive">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this site do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>