doctype html
html
	head
		title= "About"
		meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
		meta(property="og:title", content="About")
		meta(property="og:url", content="http://www.mystatusisnotasecret.com/about")
		meta(property="og:site_name", content="My Status is Not a Secret")
		meta(property="og:type", content="cause")
		meta(property="og:image", content="http://d1cllk76e9bo1o.cloudfront.net/my-status-600.png")
		meta(property="og:description", content="Part engagement platform, part interview series, My Status Is Not A Secret aims to humanize the experience of those affected by HIV.")
		meta(name="robots", content="index, follow")
		link(href='../css/main.css', rel='stylesheet', type="text/css")
		link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
	include about.html
	script(src='../lib/jQuery/dist/jquery.min.js', type='text/javascript')
	script(src='../js/navdot.js', type='text/javascript')
