<body>
<div id="wrapper" class="about">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyknow" id="whyknowLink">WHY KNOW?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="img">
			<img src="../img/essay-head.png" />
		</div>
		<div class="title hText">
			IT'S A GREAT DAY<br />
			TO BE ALIVE
			<div class="smaller">BY PARKER TREWIN</div>
		</div>
	</div>
	<div class="r2 cText">
		I’m 54 years young, and 10 years old.<br />
 		<br />
		I nearly died at birth. Over the course of four pregnancies,
		my mother’s Rh-negative blood had created antibodies that began
		attacking my Rh-positive body. I was blue, lacking oxygen and in
		need of a near total blood transfusion. Rushed across town, I
		received lifesaving treatment.<br />
		<br />
		Forty-four years later, at 7:15pm, on January 8th, 2004, I found
		out that I am HIV positive.  When the social worker asked if I
		had any questions, I responded “You betcha!,” “What the f?” “How?”
		And finally, “Now what?” Without a plan, I just moved forward.
		The next day, I packed up the Saab and headed south, keeping a
		trip to see friends in LA. It was the longest, loneliest 7-hour
		trip of my life.  At the end of the journey I felt the warm embrace
		of friends new and old.  And, my loneliness dissipated into the
		miles that were reflected in my rearview mirror.<br />
		<br />
		For the past ten years, I’ve had the incredible support of friends
		and of people that I didn’t even know—the tireless leaders and volunteers
		at the SF AIDS Foundation, Northwest AIDS Foundation, Gay Men’s Health
		Crisis, LA Gay and Lesbian Center, and Whitman Walker Clinic and others.
		Because of them I have been afforded federal support, medications, and
		counseling that continue to improve my quality of life. I have been
		blessed, as these footholds have literally given me another chance
		at life.<br />
		<br />
		It makes sense to give back to those organizations that have been there
		from before HIV was named, and that are still leading the way today.
		Riding in the AIDS/LifeCycle, a 545-mile charity bike trek from San
		Francisco to LA is one way to do this.<br />
		<br />
		As part of this I have pledged to raise $54,000—$1,000 for each awesome
		year I have lived so far and $100 for each mile I will cycle in June.
		Money raised will go towards supporting treatment, social services,
		and bold new initiatives that go beyond the politics of sex, race, and
		sexual orientation, and focus instead on public health for all. That
		HIV affects everyone is the main reason “My Status Is Not A Secret”
		project came to be. When after 10 years, I came out to my family as
		HIV positive, I heard their concern and their love. Yet I also heard
		“I expected it” which gave me a bit of an 80’s flashback where “being
		gay” equates with “getting HIV” and yet 50% of new U.S. infections now
		occur in the straight community. We still have major hurdles to clear.<br />
		<br />
		Thirty plus years into the epidemic, stigma for people living with HIV
		exists. Forty-seven out of 50 states have laws on the books that
		discriminate against HIV positive people. A lack of shared understanding
		of HIV contributes to alarming and sometimes insidious expressions of
		ignorance.<br />
		<br />
		Amidst the misinformation, jokes, and labeling, we also diminish our own
		humanity. When this kind of thinking abounds, it’s understandable why
		some choose to remain enigmatic. For many, it’s just more comfortable to
		live with plausible deniability.  Yet, the repercussions amount to a
		major health concern. Today, 20% of people with HIV in the U.S. don’t
		even know they have it. Their status is a secret even unto themselves.<br />
		<br /> 
		If people are going to be motivated to get tested, and if needed, get
		treatment we need to bring discussion about HIV/AIDS out of the dark
		and into the light.  And we can each play a part, which is just one
		reason for me to finally tell my story—and why my status is no longer
		a secret.<br />
		<br />
		We have important goals.  We want to start meaningful conversations,
		share personal stories, and raise money for care and life saving
		treatments. The good news is we’re on our way and I’ve personally
		raised over 50% of my fundraising goal. The better news is I’ve never
		been healthier. My latest blood test showed that all major indicators
		are within the normal range, and for that I am thankful.<br />
		<br />
		I’m 54 years young, 10 years old.<br />
		<br />
		Today, two simple injections are all that’s required to avoid the
		Rh-induced anemia that threatened my life when I was born. With your
		help, we can look forward to a similar solution that will make HIV as
		easily treated. I’m celebrating how far we’ve all come, and looking
		forward to what we all can accomplish. It’s a great day to be alive.<br />
		<br />
		Love and light,<br />
		<br />
		-Parker Trewin
	</div>
	<div class="r3">
		<img src="../img/essay-foot.png" />
		<div class="button hText">
			<a href="give">
				HELP PARKER GIVE BACK TO<br />
				ORGANIZATIONS WORKING TO FIGHT HIV/AIDS
			</a>
		</div>
	</div>
</div>
</body>