<div id="modalFail">
	<div class="notification hText">
		UH OH! AN ERROR OCCURRED SUBMITTING YOUR STORY.<br>
		PLEASE REFRESH THIS PAGE AND TRY AGAIN.
	</div>
</div>
<!-- GATC -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-11201349-4', 'mystatusisnotasecret.com');
  ga('send', 'pageview');
</script>