doctype html
html
	head
		title= "Failed"
		link(href='../css/main.css', rel='stylesheet', type="text/css")
		link(href='../css/loader.css', rel='stylesheet', type="text/css")
		link(href='../css/modal.css', rel='stylesheet', type="text/css")
		link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
	include failed.html
	script(src='../lib/jQuery/dist/jquery.min.js', type='text/javascript')