<body>
<div id="wrapper" class="give">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyknow" id="whyknowLink">WHY KNOW?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="col1">
			<div class="top">	
				<div class="header hText">
					GIVE | WEAR | SHARE
				</div>
				<div class="content cText">
					AIDS/LifeCycle was created with an aim to increase awareness and
					knowledge of HIV/AIDS among participants, donors, and the general
					public. The 545-mile ride from San Francisco to LA is a ride for every-
					one and a ride that supports health for all. Your donation supports
					the San Francisco and the LA Gay &amp; Lesbian Center&mdash;organizations
					that have been there since before HIV had a name and have have given a
					future to men, women, and children the world over.
				</div>
			</div>
			<div class="bottom">
				<div class="content">
					<img src="../img/tee-color.png" />
				</div>
				<div class="info">
					<div class="price hText">
						$54<span class="superscript">.50</span>
					</div>
					<div class="donate">
						<div class="hText">
							T-SHIRT AVAILABLE WITH A<br />
							DONATION OF $54.50 OR MORE<br />
						</div>
						<div class="cText">
							10&cent; for every mile of the AIDS/Lifecycle<br />
							ride from San Francisco to Los Angeles
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="top">
				<div class="img">
					<img src="../img/parker-riding.png" />
				</div>
				<div class="button hText">
					<a target="_blank" href="http://www.tofighthiv.org/site/TR/AIDSLIFECYCLE2014/AIDSLifeCycleCenter?px=1117389&pg=personal&fr_id=1630">
						GIVE TO PARKER'S RIDE
					</a>
				</div>
			</div>
			<div class="bottom">
				<div class="img">
					<img src="../img/holding-bike.png" />
				</div>
				<div class="button hText">
					<a target="_blank" href="http://www.tofighthiv.org/site/TR/AIDSLIFECYCLE2014/AIDSLifeCycleCenter?pg=team&fr_id=1630&team_id=11021">
						GIVE TO OTHER PARTICIPANTS<br />
						OF THE IMPULSE GROUP TEAM
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="r2"></div>
</div>
</body>