<body>
<div id="wrapper" class="give">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome" data-position="147" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING<br />
				THE HIV EXPERIENCE
			</div>
			<div class="share">
				<a href="mailto:mystatusisnotasecret@gmail.com" target="_top">
					<div class="icon email"></div>
				</a>
				<a href="//www.facebook.com/MyStatusIsNotASecret" target="_blank">
					<div class="icon facebook"></div>
				</a>
				<a href="//twitter.com/mystatusis" target="_blank">
					<div class="icon twitter"></div>
				</a>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink" data-position="191">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="475s">SHARED</a>
				<a href="interviews" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" class="homePosition" id="giveLink" data-position="749">GIVE</a>
				<a href="resources" id="resourcesLink" data-position="874">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="r1">
		<div class="col1">
			<div class="top">	
				<div class="header hText">
					GIVE | WEAR | SHARE
				</div>
				<div class="content cText">
					<a href="http://www.aidslifecycle.org/" target="_blank">AIDS/LifeCycle</a> was created with an aim to increase awareness and
					knowledge of HIV/AIDS among participants, donors, and the general
					public. The 545-mile ride from San Francisco to LA is a ride for everyone 
					and a ride that supports health for all. Your donation supports
					the <a href="www.sfaf.org" target="_blank">San Francisco AIDS Foundation</a> and the 
					<a href="www.lagaycenter.org" target="_blank">LA Gay &amp; Lesbian Center</a>&mdash;organizations
					that have been there since before HIV had a name and have given a
					future to men, women, and children the world over.
				</div>
			</div>
			<div class="bottom">
				<div class="content">
					<img src="../img/tee-color.png" />
				</div>
				<div class="info">
					<div class="price hText">
						$54<span class="superscript">.50</span>
					</div>
					<div class="donate">
						<div class="hText">
							T-SHIRT AVAILABLE WITH A<br />
							DONATION OF $54.50 OR MORE*<br />
						</div>
						<div class="cText">
							10&cent; for every mile of the AIDS/Lifecycle<br />
							ride from San Francisco to Los Angeles<br />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="top">
				<a target="_blank" href="http://www.tofighthiv.org/site/TR/AIDSLIFECYCLE2014/AIDSLifeCycleCenter?px=1117389&pg=personal&fr_id=1630">
					<div class="img">
						<img src="../img/parker-riding.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						GIVE TO PARKER'S RIDE
					</div>
				</a>
			</div>
			<div class="bottom">
				<a target="_blank" href="http://www.tofighthiv.org/site/TR/?fr_id=1630&amp;pg=pfind">
					<div class="img">
						<img src="../img/holding-bike.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						GIVE TO OTHER PARTICIPANTS
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="r2 cText">
		*Indicate desired size in the comments section of your donation to Parker's ride.<br />
		Not available to donations made to other AIDS/LifeCycle participants.<br />
		Limited availability. Unisex fit.<br />
	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.sfaf.org" target="_blank">
				<img src="../img/logo/sfaf-logo.png" />
			</a>
			<a href="//www.lagaycenter.org/" target="_blank">
				<img src="../img/logo/laglc-logo.png" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
		<div class="columnfive">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this site do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>