<body>
<div id="wrapper" class="home">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="col1">
				<div class="header hText">
					OVER <span class="red">2 MILLION</span> PEOPLE ARE DIAGNOSED WITH HIV EVERY YEAR.
				</div>
				<div class="info cText">
					The disease knows no boundaries of race, gender, or sexuality, even in the United States where<br />
					50,000 new infections are recorded annually. Others are positive and don't know it. Others are<br />
					negative and don't know it. Either way, if your status is a secret to yourself, you're not able to<br />
					make the best decisions for your health or the health of others.
				</div>
				<div class="content">
					
				</div>
			</div>
			<div class="col2">
				<div class="content">
					<img src="../img/monument.png" />
				</div>
				<div class="header hText">
					MY STATUS <span class="red">IS NOT</span><br />
					A SECRET BECAUSE...<br />
					<img class="quotes" src="../img/quotes.png">
					<div class="contributor">H. Azalea, NY</div>
				</div>
				<div class="info cText">
					Not knowing your HIV status can be para&ndash;<br />
					lyzing. The tension leading up to finding<br />
					our your results&mdash;agonizing. Knowing is<br />
					freedom from doubt and the ability to<br />
					determine how best to protect yourselves,<br />
					others, and your own future.<br />
					<div class="readmore"><a href="shared">Read more >></a></div>
				</div>
				<div class="button hText openModal">
					<div class="share">
						SHARE
					</div>
					<div class="why">
						WHY YOUR STATUS<br />
						IS NOT A SECRET
					</div>
				</div>
			</div>
		</div>
		<div class="r2">
			<div class="col1">
				<div class="img">
					<img src="../img/speaker.png" />
				</div>
				<div class="button hText">
					<a href="shared">
						READ WHY THEIR STATUS<br />
						IS NOT A SECRET
					</a>
				</div>
			</div>
			<div class="col2">
				<div class="img">
					<img src="../img/parker-close.png" />
				</div>
				<div class="button hText">
					<a href="about">
						PARKER'S STORY
					</a>
				</div>
			</div>
		</div>
		<div class="r3">
			<div class="col1 hText">
				I KNOW
			</div>
			<div class="col2 hText">
				I DON'T KNOW
			</div>
		</div>
		<div class="r4">
			<div class="col1">
				<div class="left">
					<img src="../img/lightbulb-on.png" />
				</div>
				<div class="right cText">
					Knowing your status gives you control over your actions,<br />
					your health, and your future. Regardless of the outcome<br />
					of getting tested, knowledge of the results provides an<br />
					increased awareness to live your life to the fullest.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/lightbulb-off.png" />
				</div>
				<div class="right cText">
					There are many reasons why someone might not go get<br />
					tested&mdash;no access to testing facilities, a lack of a sup-<br />
					port group, a fear of a positive result, but not knowing<br />
					can come at a cost to quality of life both physically and<br />
					psychologically.
				</div>
			</div>
		</div>
		<div class="r5">
			<div class="col1 hText">
				I SHARE
			</div>
			<div class="col2 hText">
				I DON'T SHARE
			</div>
		</div>
		<div class="r6">
			<div class="col1">
				<div class="left">
					<img src="../img/share-yes.png" />
				</div>
				<div class="right cText">
					If you know your HIV status, you have a choice of<br />
					whether to share it.* Sharing your status, positive or<br />
					negative, can help foster an open dialogue around the<br />
					disease and encourage other people to know theirs too.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/share-no.png" />
				</div>
				<div class="right cText">
					There is still a great deal of stigma surrounding HIV and<br />
					45 U.S. states have laws criminalizing HIV exposure so<br />
					the choice to share one's status or not can have high<br />
					stakes, though total silence from event those you care<br />
					about most can be tremendously damaging to one's<br />
					mental well-being.
				</div>
			</div>
		</div>
		<div class="r7">
			<div class="col1 hText">
				TOGETHER, WE CAN END HIV INFECTION.<br />
				BEING ABLE TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
			</div>
		</div>
		<div class="r8">
			<div class="col1">
				<div class="img">
					<img src="../img/shoulder.png" />
				</div>
				<div class="button hText openModal">
					SHARE WHY YOUR STATUS<br />
					IS NOT A SECRET
				</div>
			</div>
			<div class="col2">
				<div class="img">
					<img src="../img/tees.png" />
				</div>
				<div class="button hText">
					<a href="give">
						GIVE | WEAR | SHARE
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<iframe id="iframeModal" allowtransparency="true" src="/modal" seamless></iframe>
	<div id="exitModal" class="hText">X</div>
</div>
</body>