<body>
<div id="wrapper" class="home">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome homePosition" data-position="147" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING<br />
				THE HIV EXPERIENCE
			</div>
			<div class="share">
				<a href="mailto:mystatusisnotasecret@gmail.com" target="_top">
					<div class="icon email"></div>
				</a>
				<a href="//www.facebook.com/MyStatusIsNotASecret" target="_blank">
					<div class="icon facebook"></div>
				</a>
				<a href="//twitter.com/mystatusis" target="_blank">
					<div class="icon twitter"></div>
				</a>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink" data-position="191">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="475">SHARED</a>
				<a href="interviews" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" id="giveLink" data-position="749">GIVE</a>
				<a href="resources" id="resourcesLink" data-position="874">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="content">
		<div class="r1">
			<div class="col1">
				<div class="header hText">

					MORE THAN <span class="red">2 MILLION</span> PEOPLE ARE DIAGNOSED WITH HIV EVERY YEAR.
				</div>
				<div class="info cText">
					The disease knows no boundaries of race, gender, or sexuality&mdash;even in the United States, 
					where 50,000 new infections are recorded annually and 1 in 6 of those who contract HIV don't 
					know it. Millions of others don't know they are negative. Either way, if your status is 
					a secret from yourself, you’re not able to make the best decisions for your health or the 
					health of others.
				</div>
				<div class="content">
					<iframe width="640" height="390" src="//www.youtube.com/embed/jpSow41EyWI" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col2">
				<div class="featured" data-bind="foreach: featured.post">
					<div class="header hText">
						MY STATUS <span class="red">IS NOT</span><br />
						A SECRET BECAUSE...<br />
					</div>
					<div class="content">
						<img data-bind="attr: {'src': '//d1cllk76e9bo1o.cloudfront.net/' + cloudfrontURL}" />
					</div>
					<div class="info cText">
						<img class="quotes" src="../img/quotes.png" />
						<div class="contributor">
	<!-- Author Formatting Conditionals -->
							<!-- ko if: name.first != "" &&  name.last != "" -->
							<div class="author hText" data-bind="text: name.first[0] + '. ' + name.last"></div>
							<!-- /ko -->
							<!-- ko if: name.first != "" &&  name.last == "" -->
							<div class="author hText" data-bind="text: name.first"></div>
							<!-- /ko -->
							<!-- ko if: name.first == "" &&  name.last != "" -->
							<div class="author hText" data-bind="text: name.last"></div>
							<!-- /ko -->
							<!-- ko if: name.first == "" && name.last == "" -->
							<div class="author hText" data-bind="text: 'Anonymous'"></div>
							<!-- /ko -->
	<!-- Location Formatting Conditionals -->
							<!-- ko if: location.country != "" && location.state != "" -->
							<div class="location hText" data-bind="text: location.country + ', ' + location.state"></div>
							<!-- /ko -->
							<!-- ko if: location.country != "" && location.state == "" -->
							<div class="location hText" data-bind="text: location.country"></div>
							<!-- /ko -->
							<!-- ko if: location.country == "" && location.state != "" -->
							<div class="location hText" data-bind="text: location.state"></div>
							<!-- /ko -->
							<!-- ko if: location.country == "" && location .state == "" -->
							<!-- /ko -->
						</div>
						<div class="snippet" data-bind="text: formatStory(story, 176)">
						</div>
						<div class="readmore"><a href="shared">Read more >></a></div>
					</div>
				</div>
				<div class="button hText openModal">
					<div class="share">
						SHARE
					</div>
					<div class="why">
						WHY YOUR STATUS<br />
						IS NOT A SECRET
					</div>
				</div>
			</div>
		</div>
		<div class="r2">
			<div class="col1">
				<a href="shared">
					<div class="img">
						<img src="../img/speaker.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						READ WHY THEIR STATUS<br />
						IS NOT A SECRET
					</div>
				</a>
			</div>
			<div class="col2">
				<a href="about">
					<div class="img">
						<img src="../img/parker-close.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						WHY PARKER RIDES
					</div>
				</a>
			</div>
		</div>
		<div class="r3">
			<div class="col1 hText">
				I KNOW
			</div>
			<div class="col2 hText">
				I DON'T KNOW
			</div>
		</div>
				<div class="r4">
			<div class="col1">
				<div class="left">
					<img src="../img/lightbulb-on.png" />
				</div>
				<div class="right cText">
					Knowing your status gives you control over your actions,
					your health, and your future. Regardless
					of the outcome of getting tested, knowledge of the results provides
					increased awareness so you can live your life to the fullest.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/lightbulb-off.png" />
				</div>
				<div class="right cText">
					There are many reasons why someone might not go get
					tested&mdash;no access to testing facilities, lack of
					support, and the fear of a positive result and telling others are
					just some of the considerations, but not knowing has costs, too.
				</div>
			</div>
		</div>
		<div class="r5">
			<div class="col1 hText">
				I SHARE
			</div>
			<div class="col2 hText">
				I DON'T SHARE
			</div>
		</div>
		<div class="r6">
			<div class="col1">
				<div class="left">
					<img src="../img/share-yes.png" />
				</div>
				<div class="right cText">
					If you know your HIV status, you have a choice of
					whether to share it. Sharing your status, positive or
					negative, can help foster an open dialogue around the
					disease and encourage other people to learn theirs, too.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/share-no.png" />
				</div>
				<div class="right cText">
					It's understandable why you may not share; a great deal of
					stigma still surrounds HIV. Many U.S. states can even <a class="red" href ="http://www.cdc.gov/hiv/policies/law/states/exposure.html">prosecute
					in instances of known HIV exposure</a>. You should balance the 
					risks with your well-being and that of others.
				</div>
			</div>
		</div>
		<div class="r7">
			<div class="col1 hText">
				TOGETHER, WE CAN END HIV INFECTION. BEING ABLE<br />
				TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
			</div>
		</div>
		<div class="r8">
			<div class="col1">
				<div class="openModal">
					<div class="img">
						<img src="../img/shoulder.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						SHARE WHY YOUR STATUS<br />
						IS NOT A SECRET
					</div>
				</div>
			</div>
			<div class="col2">
				<a href="give">
					<div class="img">
						<img src="../img/tees.png" />
					</div>
					<div class="buttonMask"></div>
					<div class="button hText">
						GIVE | WEAR | SHARE
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.sfaf.org" target="_blank">
				<img src="../img/logo/sfaf-logo.png" />
			</a>
			<a href="//www.lagaycenter.org/" target="_blank">
				<img src="../img/logo/laglc-logo.png" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
		<div class="columnfive">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this site do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
	<div id="mask"></div>
	<iframe id="iframeModal" src="/modal" seamless></iframe>
	<div id="exitModal" class="hText">X</div>
</div>
<script>
	//Used to set a max length for a string, cut it at the closest whitespace, then render ellipses
	formatStory = function (string, max) {
		var cut, trimIndex, formatted;
		if (max < string.length - 3) {
			cut = string.substr(0, max - 3);
			trimIndex = cut.lastIndexOf(" ");
			formatted = cut.substr(0, trimIndex) + '...';
			string = formatted;
		}
		return string;
	};
</script>
<!-- GATC -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-11201349-4', 'mystatusisnotasecret.com');
  ga('send', 'pageview');
</script>
</body>