<body>
<div id="wrapper" class="splash">
	<div class="r1 hText">MY STATUS</div>
	<div class="r2 hText">
		<a href="/whyknow">
			<div id="enterIs" class="flip" ontouchstart="this.classlist.toggle('hover');">
				<div class="enterButton">
					<div class="face front">
						IS
					</div>
					<div class="face back">
						I DON'T<br>
						KNOW MY<br>
						STATUS
						<div  class="fade">
							IS
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="/home">
			<div id="enterNot" class="flip" ontouchstart="this.classlist.toggle('hover');">
				<div class="enterButton">
					<div class="face front">
						IS NOT
					</div>
					<div class="face back">
						I KNOW MY STATUS
						<div  class="fade">
							IS NOT
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="r3 hText">A SECRET</div>
	<div class="r4 cText">
		You deserve to know your HIV status. Positive or negative, knowing your status gives you the power
		to act with confidence and care for yourself and your community. The choice of whether to share
		your status with others is yours, but knowing it ensures you have one.*
	</div>
	<div class="r5 hText">
		<div class="box">
			1 IN 6 PEOPLE LIVING WITH HIV IS UNDIAGNOSED.<br>
			CLICK A BOX ABOVE TO FIND OUT WHY KNOWING IS SO IMPORTANT.
		</div>
	</div>
	<div class="r6 cText">
		This site is completely confidential and no information will be stored unless express permission is given in submission areas.<br />
		*While the decision to share your status is a deeply personal one, many states have laws that require HIV+ people to disclose
		their status in certain situations. See a full list of HIV policies in your state <a href="http://www.cdc.gov/hiv/policies/law/states/index.html">here</a>.
	</div>
	<div class="footer">
		<div class="logos">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
			<a href="//www.aidslifecycle.org" target="_blank">
				<img src="../img/logo/alc-logo.jpg" width="63px" height="90px" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this side do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>