<body>
<div id="wrapper" class="interviews">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome" data-position="148" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING THE<br />
				HIV EXPRIENCE
			</div>
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink" data-position="190">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="476">SHARED</a>
				<a href="interviews" class="homePosition" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" id="giveLink" data-position="745">GIVE</a>
				<a href="resources" id="resourcesLink" data-position="870">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="r1">

	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
			<a href="//www.aidslifecycle.org" target="_blank">
				<img src="../img/logo/alc-logo.jpg" width="63px" height="90px" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this side do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>