<body>
<div id="wrapper" class="interviews">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome" data-position="148" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING<br />
				THE HIV EXPERIENCE
			</div>
			<div class="share">
				<a href="mailto:mystatusisnotasecret@gmail.com" target="_top">
					<div class="icon email"></div>
				</a>
				<a href="//www.facebook.com/MyStatusIsNotASecret" target="_blank">
					<div class="icon facebook"></div>
				</a>
				<a href="//twitter.com/mystatusis" target="_blank">
					<div class="icon twitter"></div>
				</a>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink" data-position="191">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="475">SHARED</a>
				<a href="interviews" class="homePosition" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" id="giveLink" data-position="749">GIVE</a>
				<a href="resources" id="resourcesLink" data-position="874">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="r1">
		<div class="content">
			<div class="header hText">STATUS - Directors Cut</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/xN3Sto3qW8A" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Knowing</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/k1A5koRynaI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Telling</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/-arwKu0UYrU" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Managing</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/yII_3kY9xKg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Advocacy</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/caRH6hn0AnY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Now</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/9J3udzRbc6M" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="content">
			<div class="header hText">Parker</div>
			<div class="video">
				<iframe width="440" height="280" src="//www.youtube.com/embed/WBV25cqnXac" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.sfaf.org" target="_blank">
				<img src="../img/logo/sfaf-logo.png" />
			</a>
			<a href="//www.lagaycenter.org/" target="_blank">
				<img src="../img/logo/laglc-logo.png" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
		<div class="columnfive">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this site do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>