<div id="submissionModal">
	<form id="shareForm" method="post" class="content" accept-charset="utf-8" enctype="multipart/form-data">
		<div class="col1">
			<div class="header hText">
				MY STATUS <span class="red">IS NOT</span> A SECRET BECAUSE....
			</div>
			<textarea class="storyInput" type="text" name="story" required></textarea>
			<div class="subheader cText">
				Below fields are optional:
			</div>
			<div class="optionalInputs">
				<input class="first-input" placeholder="First Name" name="first" />
				<input class="last-input" placeholder="Last Name" name="last" />
				<input class="country-input" placeholder="Country" name="country" />
				<input class="state-input" placeholder="State" name="state" pattern=".{2,2}" title="Please enter your 2 character state abbreviation." />
			</div>
			<div class="hText submitModal" value="SHARE">SHARE</div>
		</div>
		<div class="col2">
			<div class="header cText">
				Choose a photo:
			</div>
			<div class="images">
				<img class="image selected" src="../img/my-status.png" />
				<img class="image" src="../img/1-in-6.png" />
				<img class="image" src="../img/i-know.png" />
				<img class="image" src="../img/i-share.png" />
				<img class="image" src="../img/why-not.png" />
				<img class="image" src="../img/default-image.png" />
				<input class="selectedImage" type="hidden" name="selectedImage" />
				<input class="editedImage" type="hidden" name="editedImage" />
				<input id="uploadImage" type="file" name="image" />
			</div>
		</div>
	</form>
</div>
<div id="modalMask"></div>
<div id="processing">
	<div class="processing hText">
		PROCESSING
		<div id="loadingBarsG">
			<div id="loadingBarsG_1" class="loadingBarsG"></div>
			<div id="loadingBarsG_2" class="loadingBarsG"></div>
			<div id="loadingBarsG_3" class="loadingBarsG"></div>
			<div id="loadingBarsG_4" class="loadingBarsG"></div>
			<div id="loadingBarsG_5" class="loadingBarsG"></div>
			<div id="loadingBarsG_6" class="loadingBarsG"></div>
			<div id="loadingBarsG_7" class="loadingBarsG"></div>
			<div id="loadingBarsG_8" class="loadingBarsG"></div>
		</div>
	</div>
</div>
<div id="modalFail">
	<div class="notification hText">
		UH OH! AN ERROR OCCURRED SUBMITTING YOUR STORY.<br>
		PLEASE TRY AGAIN LATER.
	</div>
</div>
<div id="modalSuccess">
	<div class="notification hText">
		THANK YOU FOR SHARING YOUR STORY.<br>
		WE ARE READING IT NOW AND YOU CAN EXPECT TO SEE IT SOON.
	</div>
</div>
<div id="imageEditor">
	<div class="content">
		<div class="col1">
			<div class="header hText">
				CROP &amp; RESIZE
			</div>
			<div class="mainImage">
				<div class="containment">
					<img id="uploadedImage" />
				</div>
			</div>
			<div class="resizeSlider"></div>
			<div class="hText doneEditing" type="submit" value="SHARE">DONE</div>
		</div>
		<div class="col2">
			<div class="header cText">
				Choose a filter:
			</div>
			<div class="filters">
				<div class="filter hText selected" data-filter="noFilter" >Original</div>
				<div class="filter hText" data-filter="pinhole" >Pinhole</div>
				<div class="filter hText" data-filter="nostalgia" >Retro</div>
				<div class="filter hText" data-filter="glowingSun" >Glowing</div>
				<div class="filter hText" data-filter="love" >Murano</div>
				<div class="filter hText" data-filter="hemingway" >Vintage</div>
			</div>
		</div>
	</div>
</div>