<body>
<div id="wrapper" class="moderation">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFECYCLE
			</div>
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyknow" id="whyknowLink">WHY KNOW?</a>
				<a href="shared" id="shared">SHARED</a>
				<a href="interviews" id="interviews">INTERVIEWS</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="prompt hText">
				MODERATION
			</div>
		</div>
		<div class="r2">
			<div id="feed" class="js-masonry" data-bind="foreach: feed.pages">
				<div class="storyTile" data-bind="isotope: {container: '#feed', itemSelector: '.storyTile'}, attr: {'id': _id}">
					<img data-bind="attr: {'src': '//d1cllk76e9bo1o.cloudfront.net/' + cloudfrontURL}" />
					<div class="divisor"></div>
					<div class="author hText">
						<div class="name" data-bind="text: name.first + ' ' + name.last"></div>
						<!-- ko if: name.first != '' && location.state != '' -->
						<div class="comma">, </div>
						<!-- /ko -->
						<div class="location" data-bind="text: location.state"></div>
					</div>
					<div class="story cText" data-bind="text: $data.story"></div>
				</div>
			</div>
		</div>
		<div class="r3">
			<div class="loading hText">
				LOADING
				<div id="loadingBarsG">
					<div id="loadingBarsG_1" class="loadingBarsG"></div>
					<div id="loadingBarsG_2" class="loadingBarsG"></div>
					<div id="loadingBarsG_3" class="loadingBarsG"></div>
					<div id="loadingBarsG_4" class="loadingBarsG"></div>
					<div id="loadingBarsG_5" class="loadingBarsG"></div>
					<div id="loadingBarsG_6" class="loadingBarsG"></div>
					<div id="loadingBarsG_7" class="loadingBarsG"></div>
					<div id="loadingBarsG_8" class="loadingBarsG"></div>
				</div>
			</div>
			<div class="failed hText">
				UH OH! FAILED TO LOAD STORIES
			</div>
		</div>
	</div>
	<div id="mask">
		<div id="loader" class="hText">
			PROCESSING
			<div id="loadingBarsG">
				<div id="loadingBarsG_1" class="loadingBarsG"></div>
				<div id="loadingBarsG_2" class="loadingBarsG"></div>
				<div id="loadingBarsG_3" class="loadingBarsG"></div>
				<div id="loadingBarsG_4" class="loadingBarsG"></div>
				<div id="loadingBarsG_5" class="loadingBarsG"></div>
				<div id="loadingBarsG_6" class="loadingBarsG"></div>
				<div id="loadingBarsG_7" class="loadingBarsG"></div>
				<div id="loadingBarsG_8" class="loadingBarsG"></div>
			</div>
		</div>
	</div>
	<div class="ui">
		<div class="selectAll button hText">SELECT ALL</div>
		<div class="approvePosts button hText">APPROVE SELECTION</div>
		<div class="showApproved button hText">SHOW APPROVED</div>
		<div class="showNew button hText">SHOW NEW</div>
		<div class="deselectAll button hText">DESELECT ALL</div>
		<div class="hidePosts button hText">HIDE SELECTION</div>
		<div class="showHidden button hText">SHOW HIDDEN</div>
		<div class="deleteSelected button hText">DELETE SELECTION</div>
	</div>
</div>
</body>