doctype html
head
	link(href='../css/main.css', rel='stylesheet', type="text/css")
	link(href='../css/loader.css', rel='stylesheet', type="text/css")
	link(href='../css/feed.css', rel='stylesheet', type="text/css")
	link(href='../css/moderation.css', rel='stylesheet', type="text/css")
	link(href='../css/modal.css', rel='stylesheet', type="text/css")
	link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
include moderation.html
script(src='../lib/jQuery/dist/jquery.min.js', type='text/javascript')
script(src='../lib/knockout.js/knockout.js', type='text/javascript')
script(src='../lib/knockout.js/knockout.mapping.js', type='text/javascript')
script(src='../lib/isotope/jquery.isotope.min.js', type='text/javascript')
script(src='../js/moderation.js', type='text/javascript')