<body>
<div id="wrapper" class="resources">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img class="goHome" data-position="148" src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				HUMANIZING<br />
				THE HIV EXPERIENCE
			</div>
			<div class="share">
				<a href="mailto:mystatusisnotasecret@gmail.com" target="_top">
					<div class="icon email"></div>
				</a>
				<a href="//www.facebook.com/MyStatusIsNotASecret" target="_blank">
					<div class="icon facebook"></div>
				</a>
				<a href="//twitter.com/mystatusis" target="_blank">
					<div class="icon twitter"></div>
				</a>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink" data-position="191">ABOUT</a>
				<a href="whyknow" id="whyknowLink" data-position="330">WHY KNOW?</a>
				<a href="shared" id="shared" data-position="475">SHARED</a>
				<a href="interviews" id="interviews" data-position="618">INTERVIEWS</a>
				<a href="give" id="giveLink" data-position="749">GIVE</a>
				<a href="resources" class="homePosition" id="resourcesLink" data-position="874">RESOURCES</a>
			</div>
		</div>
	</div>
	<img id="dot" src="../img/reddot.png" />
	<div class="r1 hText">
		HIV/AIDS RESOURCES
	</div>
	<div class="r2">
	<div class="col1">
			<div class="header hText">
				TESTING
			</div>
			<div class="content">
				<a href="//hivtest.cdc.gov" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p1">
						CENTERS<br />
						FOR DISEASE<br /> 
						CONTROL<br />
						AND PREVENTION
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//www.cdc.gov/hiv/testing/lab/hometests.html" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p2">
						HOME HIV<br />
						TEST
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//locator.aids.gov" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p3">
						AIDS.GOV
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
		<div class="col2">
			<div class="header hText">
				SUPPORT
			</div>
			<div class="content">
				<a href="//www.lagaycenter.org" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p1">
						LA GAY &amp;<br />
						LESIBIAN<br />
						CENTER
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//www.sfaf.org" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p2">
						SAN<br />
						FRANCISCO<br />
						AIDS<br />
						FOUNDATION
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//www.aidshealth.org" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p3">
						AIDS<br />
						HEALTHCARE<br />
						FOUNDATION
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
		<div class="col3">
			<div class="header hText">
				LIVING POSITIVE
			</div>
			<div class="content">
				<a href="//www.poz.com" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p1">
						POZ
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//www.pospeds.org" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p2">
						POS<br />
						PEDS
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="//pwnusa.wordpress.com" target="_blank">
					<div class="buttonMask"></div>
					<div class="left hText p3">
						POSITIVE<br />
						WOMEN'S<br />
						NETWORK
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="footerBreak"></div>
	<div class="footer">
		<div class="logos">
			<a href="//www.sfaf.org" target="_blank">
				<img src="../img/logo/sfaf-logo.png" />
			</a>
			<a href="//www.lagaycenter.org/" target="_blank">
				<img src="../img/logo/laglc-logo.png" />
			</a>
			<a href="//www.advisorie.com/" target="_blank">
				<img src="../img/logo/tag-logo.png" />
			</a>
		</div>
		<div class="columnfive">
			<a href="//www.columnfivemedia.com" target="_blank">
				<img src="../img/logo/c5-logo.png" />
			</a>
		</div>
	</div>
	<div class="disclaimer cText">
		The views and opinions expressed in the filmed interviews and user submissions on this side do not necessarily
		reflect those of Column Five, The Advisorie Group, AIDS/LifeCycle, or any other producing entity. 
	</div>
</div>
</body>