doctype html
html
	head
		title= "Resources"
		link(href='../css/main.css', rel='stylesheet', type="text/css")
		link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
	include resources.html
	script(src='../lib/jQuery/dist/jquery.min.js', type='text/javascript')
	script(src='../js/navdot.js', type='text/javascript')