<body>
<div id="wrapper" class="resources">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFECYCLE
			</div>
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyknow" id="whyknowLink">WHY KNOW?</a>
				<a href="shared" id="shared">SHARED</a>
				<a href="interviews" id="interviews">INTERVIEWS</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1 hText">
		HIV/AIDS RESOURCES
	</div>
	<div class="r2">
		<div class="col1">
			<div class="header hText">
				TESTING
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p1">
						AIDS<br />
						PROJECT<br />
						LOS ANGELES
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p2">
						SAN<br />
						FRANCISCO<br />
						AIDS<br />
						FOUNDATION
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p3">
						SFHIV
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
		<div class="col2">
			<div class="header hText">
				SUPPORT
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p1">
						THE<br />
						BODY
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p2">
						NATIONAL<br />
						AIDS<br />
						HOUSING<br />
						COALITION
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p3">
						AVERT
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
		<div class="col3">
			<div class="header hText">
				COMING OUT HIV+
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p1">
						EXPERIENCE<br />
						PROJECT
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p2">
						HIV/AIDS<br />
						TRIBE
					</div>
					<div class="right">

					</div>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="left hText p3">
						DAILY<br />
						STRENGTH
					</div>
					<div class="right">

					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="r3"></div>
</div>
</body>