<body>
<div id="wrapper" class="shared">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="prompt hText" onclick="feed.retrieve()">
			MY STATUS IS NOT A SECRET BECAUSE...
		</div>
	</div>
	<div class="r2">
		<div id="feed" class="js-masonry" data-masonry-options='{"columnWidth": 220, "itemSelector": ".storyTile"}'>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
			<div class="storyTile">
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW<br>
				MEOWMEOWMEOW
			</div>
		</div>
	</div>
	<div class="r3">
		<div class="loading hText">
			LOADING
			<div id="fadingBarsG">
				<div id="fadingBarsG_1" class="fadingBarsG"></div>
				<div id="fadingBarsG_2" class="fadingBarsG"></div>
				<div id="fadingBarsG_3" class="fadingBarsG"></div>
				<div id="fadingBarsG_4" class="fadingBarsG"></div>
				<div id="fadingBarsG_5" class="fadingBarsG"></div>
				<div id="fadingBarsG_6" class="fadingBarsG"></div>
				<div id="fadingBarsG_7" class="fadingBarsG"></div>
				<div id="fadingBarsG_8" class="fadingBarsG"></div>
			</div>
		</div>
	</div>
</div>
</body>