<body>
<div id="wrapper" class="shared">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFE CYCLE AND<br />
				THE WORK OF THE AIDS<br />
				HEALTHCARE FOUNDATION
			</div>
		</div>
		<div class="headRight">
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyshare" id="whyshareLink">WHY SHARE?</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="r1">
		<div class="prompt hText">
			MY STATUS IS NOT A SECRET BECAUSE...
		</div>
	</div>
</div>
</body>