<body>
<div id="wrapper" class="whyknow">
	<div class="head hText">
		<div class="headLeft">
			<div class="homeLogo">
				<a href="home">
					<img src="../img/home-logo.png" />
				</a>
			</div>
		</div>
		<div class="headRight">
			<div class="statement">
				SUPPORTING PARTICIPANTS<br />
				OF AIDS/LIFECYCLE
			</div>
			<div class="share">
				<div class="icon email"></div>
				<div class="icon facebook"></div>
				<div class="icon twitter"></div>
			</div>
			<div class="nav">
				<a href="about" id="aboutLink">ABOUT</a>
				<a href="whyknow" id="whyknowLink">WHY KNOW?</a>
				<a href="shared" id="shared">SHARED</a>
				<a href="interviews" id="interviews">INTERVIEWS</a>
				<a href="give" id="giveLink">GIVE</a>
				<a href="resources" id="resourcesLink">RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="r1">
			<div class="col1">
				<div class="header hText">
					MY STATUS <span class="red">IS</span> A SECRET
				</div>
				<div class="info cText">
					Not knowing your HIV status can be paralyzing.
					Let's face it, waiting for your results isn't
					fun, though thankfully there are more and more
					ways to know faster. Knowing empowers you to
					own your future and protect yourself and others.
				</div>
				<div class="content">
					<div class="leader hText">
						WHAT'S NO SECRET?<span class="red"> HIV AFFECTS EVERYONE</span>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/holding-hands.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								1 in 6
							</div>
							<div class="body cText">
								people living with HIV<br />
								are undiagnosed
							</div>
						</div>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/pie-chart.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								YOUNG PEOPLE<br />
								BETWEEN 13 AND 29
							</div>
							<div class="body cText">
								represent 34% of new<br />
								HIV infections&mdash;the<br />
								largest share of any age<br />
								group.
							</div>
						</div>
					</div>
					<div class="stat">
						<div class="img">
							<img src="../img/stopwatch.png" />
						</div>
						<div class="text hText">
							<div class="lead">
								EVERY NINE AND<br />
								A HALF MINUTES
							</div>
							<div class="body cText">
								someone in the U.S. is<br />
								infected with HIV
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col2">
				<div class="header hText">
					OVER <span class="red">2 MILLION</span> PEOPLE<br />
					ARE DIAGNOSED WITH HIV<BR />
					EVERY YEAR.
				</div>
				<div class="content">

				</div>
				<div class="info cText">
					We all keep secrets from ourselves. Some-
					times it's just easier to not deal with
					something than to take it head on. However,
					there are often real consequences, especially
					when it comes to your health.<br />
				</div>
				<div class="button hText">
					<a href="interviews">
						MORE INTERVIEWS
					</a>
				</div>
			</div>
		</div>
		<div class="r2">
			<div class="col1">
				<a href="shared">
					<div class="img">
						<img src="../img/speaker.png" />
					</div>
					<div class="button hText">
						READ WHY THEIR STATUS<br />
						IS NOT A SECRET
					</div>
				</a>
			</div>
			<div class="col2">
				<a href="about">
					<div class="img">
						<img src="../img/parker-close.png" />
					</div>
					<div class="button hText">
						WHY PARKER RIDES
					</div>
				</a>
			</div>
		</div>
		<div class="r3">
			<div class="col1 hText">
				I KNOW
			</div>
			<div class="col2 hText">
				I DON'T KNOW
			</div>
		</div>
				<div class="r4">
			<div class="col1">
				<div class="left">
					<img src="../img/lightbulb-on.png" />
				</div>
				<div class="right cText">
					Knowing your status gives you control over your actions,
					your health, and your future. Regardless of the outcome
					of getting tested, knowledge of the results provides
					increased awareness so you can live your life to the fullest.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/lightbulb-off.png" />
				</div>
				<div class="right cText">
					There are many reasons why someone might not go get
					tested&mdash;no access to testing facilities, lack of a sup-
					port, and fear of a positive result and telling others are
					just some of the considerations, but not knowing has costs to
					you and others.
				</div>
			</div>
		</div>
		<div class="r5">
			<div class="col1 hText">
				I SHARE
			</div>
			<div class="col2 hText">
				I DON'T SHARE
			</div>
		</div>
		<div class="r6">
			<div class="col1">
				<div class="left">
					<img src="../img/share-yes.png" />
				</div>
				<div class="right cText">
					If you know your HIV status, you have a choice of
					whether to share it. Sharing your status, positive or
					negative, can help foster an open dialogue around the
					disease and encourage other people to know theirs too.
				</div>
			</div>
			<div class="col2">
				<div class="left">
					<img src="../img/share-no.png" />
				</div>
				<div class="right cText">
					It's understandable why you may not share; a great deal of
					stigma still surrounds HIV. Many U.S. States can even <a class="red" href ="http://www.cdc.gov/hiv/policies/law/states/exposure.html">prosecute
					in instances of known HIV exposure</a>. The risks should be balanced
					with your well being and that of others. 
				</div>
			</div>
		</div>
		<div class="r7">
			<div class="col1 hText">
				TOGETHER, WE CAN END HIV INFECTION.<br />
				BEING ABLE TO SAY "MY STATUS IS NOT A SECRET" IS A GOOD FIRST STEP.
			</div>
		</div>
		<div class="r8">
			<div class="col1">
				<div class="openModal">
					<div class="img">
						<img src="../img/shoulder.png" />
					</div>
					<div class="button hText">
						SHARE WHY YOUR STATUS<br />
						IS NOT A SECRET
					</div>
				</div>
			</div>
			<div class="col2">
				<a href="give">
					<div class="img">
						<img src="../img/tees.png" />
					</div>
					<div class="button hText">
						GIVE | WEAR | SHARE
					</div>
				</a>
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<iframe id="iframeModal" allowtransparency="true" src="/modal" seamless></iframe>
	<div id="exitModal" class="hText">X</div>
</div>
</body>