doctype html
head
	link(href='../css/main.css', rel='stylesheet', type="text/css")
	link(href='../css/loader.css', rel='stylesheet', type="text/css")
	link(href='../css/modal.css', rel='stylesheet', type="text/css")
	link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
include whyknow.html
script(src='../lib/jQuery/dist/jquery.min.js', type='text/javascript')
script(src='../js/navdot.js', type='text/javascript')
script(src='../js/modal.js', type='text/javascript')